﻿@model MessageTemplateModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<div class="page request-page">
    <div class="page-body">
        @using (Html.BeginForm())
        {

            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Content/images/ico-content.png")" alt="" />
                    @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.BackToList") + ")", "List")
                </div>
                <div class="options">
                    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                    <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
                    <input type="submit" name="message-template-copy" class="k-button" value="@T("Admin.ContentManagement.MessageTemplates.Copy")" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                    <span id="message-template-delete" class="k-button">@T("Admin.Common.Delete")</span>
                </div>
            </div>
            @Html.Partial("_CreateOrUpdate", Model)

        }
        @Html.DeleteConfirmation("message-template-delete")
    </div>
</div>