﻿<table class="adminContent">
    <tr>
        <td>
            <div id="registered-customers-grid"></div>

            <script>
                    $(document).ready(function () {
                        $("#registered-customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ReportRegisteredCustomersList", "CustomersAdmin"))",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Period",
                                title: "@T("Admin.Customers.Reports.RegisteredCustomers.Fields.Period")"
                            }, {
                                field: "Customers",
                                title: "@T("Admin.Customers.Reports.RegisteredCustomers.Fields.Customers")",
                                width: 150
                            }]
                        });
                    });
            </script>
        </td>
    </tr>
</table>
