﻿@using Energy.Core;
@using Energy.Core.Domain
@using Energy.Core.Infrastructure
@using Energy.Web.Framework.Themes
@using Energy.Web.Framework.UI
@{
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    var supportResponsive = EngineContext.Current.Resolve<StoreInformationSettings>().ResponsiveDesignSupported;
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    
    //we do not support responsive for RTL yet
    if (supportRtl)
    {
        supportResponsive = false;
    }
    //add browser specific CSS files
    var browser = Request.Browser;
    if (browser.Browser == "IE" && browser.MajorVersion == 6)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/ie6.css", themeName));
    }
    else if (browser.Browser == "IE" && browser.MajorVersion == 7)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/ie7.css", themeName));
    }
    //responsive design
    if (supportResponsive)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/responsive.css", themeName));
    }
    //add main CSS file
    if (supportRtl)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/styles.rtl.css", themeName));
    }
    else
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/styles.css", themeName));
    }
    //responsive design
    if (supportResponsive)
    {
        <meta name="viewport" content="width=device-width, initial-scale=1">
    }
}

<!-- COLOR PRESET -->
<!-- Remove all except one, which you want to use.
	 also remove Color Picker Script from Root.Head.cshtml and Color Picker Html from Root.cshtml -->

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/default.css")" title="default" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/Orange.css")" title="orange" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/Blue.css")" title="Blue" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/Purple.css")" title="Purple" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/WinRed.css")" title="WinRed" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="@Url.Content("~/Themes/PowerHub/Content/css/color/Green.css")" title="Green" media="screen" />

