﻿@{
    //page title
    ViewBag.Title = T("Admin.Configuration.EmailAccounts").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.EmailAccounts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent" style="width:100%">
    <tr>
        <td>

            <div id="email-accounts-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#email-accounts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "EmailAccount"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Email",
                            title: "@T("Admin.Configuration.EmailAccounts.Fields.Email")"
                        }, {
                            field: "DisplayName",
                            title: "@T("Admin.Configuration.EmailAccounts.Fields.DisplayName")"
                        }, {
                            field: "IsDefaultEmailAccount",
                            title: "@T("Admin.Configuration.EmailAccounts.Fields.IsDefaultEmailAccount")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Content/images/")active-#=IsDefaultEmailAccount#.gif" />'
                        }, {
                            field: "Id",
                            title: "@T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail")",
                            template: '<a href="@Url.Content("~/EmailAccount/MarkAsDefaultEmail/")#=Id#" class="k-button">@T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail")</a>'
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>