﻿@model ReportListModel

@using Helper.Extensions
@using Web.Tools
@using System.Globalization
@using Energy.Web.Tools

@{
    ViewBag.Title = "گزارش";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendScriptParts("~/Scripts/jszip.min.js");
    Html.AppendScriptParts("~/Scripts/kendo/kendo.all.min.js");
}

<style>
    .k-grid-content {
        min-height: 50px;
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#report-tab").css('background', '#2f363a')
    })

    $(function () {
        $("#@Html.FieldIdFor(model => model.Region_Id)").change(function () {
            var selectedItem = $(this).val();
            var ddlCities = $("#@Html.FieldIdFor(model => model.DistributionArea_Id)");
            var citiesProgress = $("#das-loading-progress");
            citiesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetDistributionsByRegionId"))",
                data: { "RegionId": selectedItem, "addSelectRegionItem": "true" },
                success: function (data) {
                    ddlCities.html('');
                    $.each(data, function (id, option) {
                        ddlCities.append($('<option></option>').val(option.id).html(option.name));
                    });
                    citiesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve cities.');
                    citiesProgress.hide();
                }
            });
        });
    });

    $(function () {
        $('#domain').click(function () {
            $('select#toYear').attr('disabled', !this.checked);
            $('select#toTerm').attr('disabled', !this.checked)
        })
    });

    $(function () {
        $("#year").change(function () {
            var selectedItem = $(this).val();
            var ddlTerms = $("#term");
            var termsProgress = $("#terms-loading-progress");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });

    $(function () {
        $("#toYear").change(function () {
            var selectedItem = $(this).val();
            var ddlTerms = $("#toTerm");
            var termsProgress = $("#terms-loading-progress_");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });

    function additionalData() {
        return {
            year: $("#year :selected").val(),
            term: $("#term :selected").val(),
            toYear: $("#toYear :selected").val(),
            toTerm: $("#toTerm :selected").val(),
            domain: $("#domain").attr("checked") ? true : false,
            financeReport: $("#report-type").html() == 'ShowReport_finance' ? true : false,
            region_Id: $("#Region_Id :selected").val(),
            distribution_Id: $("#DistributionArea_Id :selected").val(),
            //demand: $("#demand").attr("checked") ? true : false,
            //normal: $("#normal").attr("checked") ? true : false,
            cTariff: $("#CTariffId :selected").val(),
            includeAll: $("#IncludeAll").attr("checked") ? true : false,
        };
    }

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

</script>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-customers.png")" alt="" />
            <span class="page-title">گزارشگیری</span>
        </div>
        <div class="options">
            <input type="button" id="ShowReport_finance" class="k-button" value="@T("گزارش مالی")" />
            <input type="button" id="ShowReport_consume" class="k-button" value="@T("گزارش مصرف")" />
        </div>
    </div>
    <div class="fieldset product-selectors">
        <table>
            <tr>
                <td style="vertical-align: top">
                    <span style="font-size:18px;padding-right:15px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @id = "year", @style = "font-size:17px;width:100px" })
                    <br />
                    <span style="font-size:18px;padding-right:15px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @id = "term", @style = "font-size:17px;width:100px" })
                    <br />
                    <span style="font-weight:bold;padding-right:15px;font-size:16px"> لغایت </span>@Html.CheckBox("domain", false, new { @style = "padding-right:15px;" })
                    <span id="terms-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    <br />

                </td>
                <td style="vertical-align: top">
                    <span style="font-size:18px;padding-right:15px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @style = "font-size:17px;width:100px", @id = "toYear", @disabled = "disabled" })
                    <br />
                    <span style="font-size:18px;padding-right:15px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @style = "font-size:17px;width:100px", @id = "toTerm", @disabled = "disabled" })
                    <br />
                    <span id="terms-loading-progress_" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                </td>
                <td style="vertical-align: top; padding-right: 25px">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Region_Id, new { }, ":")
                        @Html.DropDownList("Region_Id", Model.Regions, new { @class = "", @style = "width:200px" })

                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.DistributionArea_Id, new { }, ":")
                        @Html.DropDownList("DistributionArea_Id", Model.DistributionAreas, new { @class = "", @style = "width:200px" })
                        <br />
                        <span id="das-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    </div>
                </td>
                <td style="vertical-align: top; padding-right: 25px">
                    <div class="inputs">
                        <label for="fileNo">تعرفه :</label>
                        @Html.DropDownList("CTariffId", Model.CTariffs)
                    </div>
                    <div class="inputs">
                        <label for="includeAll">شامل انشعاب های غیر فعال :</label>
                        @Html.CheckBoxFor(model => model.IncludeAll)
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
<hr id="title" />
<div>
    <h1 id="report-title" style="font-size:22px;text-align:center;padding-bottom:15px;"></h1>
    <spqn id="report-type" style="display:none"></spqn>
</div>
<table class="adminContent" style="padding-right:10px;font-size:15px">
    <tr>
        <td>
            <div class="k-rtl">
                <div style="padding-right: 0px;padding-top:0;text-align:right;padding-bottom:10px">
                    <button style="display: none; padding-left: 20px; padding-right: 20px; font-weight: bold; margin-left: 5px; font-size: 15px; " type="button" class="k-button ep-button" id="printGrid">چاپ گزارش</button>
                    <button style="display: none; padding-left: 20px; padding-right: 20px; font-weight: bold; margin-left: 5px; font-size: 15px; " type="button" class="k-button ep-button" id="ExportExcel">خروجی اکسل</button>
                </div>
                <div id="report-grid" style="font-weight:bold"></div>
                <script>
                    $(document).on('click', "#ShowReport_finance,#ShowReport_consume", function (e) {
                        if ($("#year :selected").val() == '') {
                            alert('ابتدا سال و دوره مورد نظر را انتخاب کنید');
                            return;
                        }
                        $("#report-type").html(this.id);
                        var fncReport = this.id == 'ShowReport_finance';
                        if (fncReport)
                            $("#report-title").html("گزارش مالی : ");
                        else
                            $("#report-title").html("گزارش مصرفی : ");

                        $("#report-title").append('تاریخ ' + $("#year :selected").val() + '/')
                        $("#report-title").append($("#term :selected").val())

                        if ($("#toYear :selected").val() != '')
                            $("#report-title").append(' لغایت ' + $("#toYear :selected").val() + '/' + $("#toTerm :selected").val())

                        $("#report-grid").html("");
                        var initialLoad = true;
                        $("#report-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("financeReport", "Report"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    model: {
                                        id: "rowNumber", // define the model of the data source. Required for validation and property types.
                                        fields: {
                                            "rowNumber": { type: "number", editable: false, filterable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                                            "splitId": { type: "number", editable: false },
                                            "CustomerName": { type: "string", editable: false },
                                            "SplitName": { type: "string", editable: false },
                                            "Total": { type: "number", editable: false },
                                            "Tax": { type: "number" },
                                            "Toll": { type: "number" },
                                            "Debit": { type: "number" },
                                            "DelayPenalty": { type: "number" },
                                            "BillPayable": { type: "number" },
                                        }
                                    }
                                },
                                requestStart: function () {
                                    if (initialLoad)
                                        kendo.ui.progress($("#invoiceGroupGrid"), true);
                                },
                                requestEnd: function () {
                                    if (initialLoad)
                                        kendo.ui.progress($("#invoiceGroupGrid"), false);
                                    initialLoad = false;
                                    $('#title').scrollView()
                                },
                                error: function (e) {
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: false,
                                serverFiltering: false,
                                serverSorting: false,
                                aggregate: [
                                { field: "rowNumber", aggregate: "count" },
                                { field: "Total", aggregate: "sum" },
                                { field: "Tax", aggregate: "sum" },
                                { field: "Toll", aggregate: "sum" },
                                { field: "Debit", aggregate: "sum" },
                                { field: "DelayPenalty", aggregate: "sum" },
                                { field: "NetworkCost", aggregate: "sum" },
                                { field: "FreelanceCost", aggregate: "sum" },
                                { field: "BillPayable", aggregate: "sum" },
                                { field: "MidUsed", aggregate: "sum" },
                                { field: "MaxUsed", aggregate: "sum" },
                                { field: "MinUsed", aggregate: "sum" },
                                { field: "AllUsed", aggregate: "sum" },
                                { field: "ReactUsed", aggregate: "sum" },
                                ]
                            },
                            autoBind: true,
                            scrollable: true,
                            pageable: {
                                previousNext: true, // default true
                                numeric: true, // default true
                                buttonCount: 5, // default 10
                                refresh: true, // default false
                                input: true, // default false
                                //pageSizes: true, // default false
                                pageSizes: [5, 10, 15, 20, 25], //array of page size choices for user
                                info: true // show a label with current paging information in it
                            },
                            sortable: true,
                            filterable: true,
                            reorderable: false,
                            columnMenu: true,
                            groupable: true,
                            navigatable: true,
                            columns: [
                                { field: "splitId", title: "انشعاب", width: 50 },
                                { field: "SplitName", title: "نام انشعاب", width: 170 },
                                { field: "Year", title: "سال", width: 50 },
                                { field: "Term", title: "دوره", width: 50 },
                                { field: "Total", title: "بهای برق دوره", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#" },
                                { field: "Tax", title: "مالیات", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "Toll", title: "عوارض", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "Debit", title: "بدهی", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "DelayPenalty", title: "جریمه دیرکرد", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "NetworkCost", title: "هزینه نگهداری شبکه", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "FreelanceCost", title: "انشعاب آزاد", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                { field: "BillPayable", title: "صورتحساب", format: "{0:n0}", width: 90, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: !fncReport },
                                //consume-report fields
                                { field: "MidUsed", title: "میان بار", format: "{0:n0}", width: 70, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: fncReport },
                                { field: "MaxUsed", title: "اوج بار", format: "{0:n0}", width: 70, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: fncReport },
                                { field: "MinUsed", title: "کم بار", format: "{0:n0}", width: 70, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: fncReport },
                                { field: "AllUsed", title: "کل مصرف", format: "{0:n0}", width: 80, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: fncReport },
                                { field: "ReactUsed", title: "راکتیو", format: "{0:n0}", width: 70, footerTemplate: "جمع : #=kendo.toString(sum,'n0')#", hidden: fncReport },
                            ]
                        });

                        $("#printGrid").show();
                        $("#ExportExcel").show();
                    });

                    $("#ExportExcel").click(function (e) {
                        var grid = $("#report-grid").data("kendoGrid");
                        grid.saveAsExcel();
                    });
                </script>
            </div>
        </td>
    </tr>
</table>

<script>
    function printGrid() {
        var gridElement = $('#report-grid'),
            printableContent = '',
            reportHeader = '<fieldset>' +
                           '<div class="col-xs-4">' +
                           '<div style="background-color:white">' +
                           '<table>' +
                           '<tr>' +
                           '<td colspan="2" rowspan="3" style="padding: 10px; text-align: right; vertical-align: top; ">' +
                           '<img alt="شرکت انرژی پاک" src="/Content/images/logo.png" style="height: 52px; width: 217px">' +
                           '</td>' +
                           '</tr>' +
                           '</table>' +
                           '</div>' +
                           '</div>' +
                           '<div class="col-xs-4">' +
                           '<div style="background-color:white;text-align:center">' +
                           '<h3 style="margin-top:0px;padding-top:10px;font-weight:bold">شرکت انرژی پاک پویش پرشین</h3>' +
                           '<h4 style="margin-top:0px;padding-top:0px;font-weight:bold">' + $("#report-title").html() + '</h4>' +
                           '</div>' +
                           '</div>' +
                           '<div class="col-xs-4">' +
                           '<div style="background-color:white">' +
                           '<table style="padding-top:35px">' +
                           '<tr>' +
                           '<td class="first"><h4 style="margin-top:0px;padding-top:15px;font-weight:bold">تاریخ گزارش گیری : @DateTime.Now.PersianDate("/")</h4></td>' +
                           '<td>' +
                            '</td>' +
                            '</tr>' +
                            '<tr><td>' +
                            '</tr></td>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</fieldset>',
            win = window.open('', '', 'width=1200, height=600'),
            doc = win.document.open();

        var htmlStart =
                '<!DOCTYPE html>' +
                '<html>' +
                '<head>' +
                '<meta charset="utf-8" />' +
                '<title>Kendo UI Grid</title>' +
                '<link href="/Content/css/bootstrap-rtl.css" rel="stylesheet" />' +
                '<link href="/Content/css/report.css" rel="stylesheet" />' +
                '<link href="/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />' +
                '<link href="/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />' +
                '<link href="/Content/kendo/2014.1.318/kendo.rtl.min.css" rel="stylesheet" />' +
                '<style>' +
                'html { font: 11pt; }' +
                '.k-grid { border-top-width: 0; }' +
                '.k-grid, .k-grid-content { height: auto !important; }' +
                '.k-grid-content { overflow: visible !important; }' +
                'div.k-grid table { table-layout: auto; width: 100% !important; }' +
                '.k-grid .k-grid-header th { border-top: 1px solid; }' +
                '.k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
                '</style>' +
                '</head>' +
                '<body>' +
                '<div class="content">';

        var htmlEnd =
                '</div>' +
                '</body>' +
                '</html>';

        var gridHeader = gridElement.children('.k-grid-header');
        if (gridHeader[0]) {
            var thead = gridHeader.find('thead').clone().addClass('k-grid-header');
            printableContent = gridElement
                .clone()
                    .children('.k-grid-header').remove()
                .end()
                    .children('.k-grid-content')
                        .find('table')
                            .first()
                                .children('tbody').before(thead)
                            .end()
                        .end()
                    .end()
                .end()[0].outerHTML;
        } else {
            printableContent = gridElement.clone()[0].outerHTML;
        }

        doc.write(htmlStart + reportHeader + printableContent + htmlEnd);
        doc.close();

        //win.print();
    };

    $('#printGrid').click(function () {
        printGrid();
    });

</script>
<script>
    $("#btnExport").kendoButton({
        click: function (e) {
            e.preventDefault();
            $('#export-excel-selected-form #year').val($("#year :selected").val());
            $('#export-excel-selected-form #term').val($("#term :selected").val());
            $('#export-excel-selected-form #toYear').val($("#toYear :selected").val());
            $('#export-excel-selected-form #toTerm').val($("#toTerm :selected").val());
            $('#export-excel-selected-form #domain').val($("#domain").attr("checked") ? true : false);
            $('#export-excel-selected-form #financeReport').val($("#report-type").html() == 'ShowReport_finance' ? true : false);
            $('#export-excel-selected-form #region_Id').val($("#Region_Id :selected").val());
            $('#export-excel-selected-form #distribution_Id').val($("#DistributionArea_Id :selected").val());
            $('#export-excel-selected-form #cTariff').val($("#CTariffId :selected").val());
            $('#export-excel-selected-form').submit();
            return false;
        }
    })
</script>

@using (Html.BeginForm("ExportExcelAll", "Report", FormMethod.Post, new { id = "export-excel-selected-form" }))
{
    <input type="hidden" id="year" name="year" value="" />
    <input type="hidden" id="term" name="term" value="" />
    <input type="hidden" id="toYear" name="toYear" value="" />
    <input type="hidden" id="toTerm" name="toTerm" value="" />
    <input type="hidden" id="domain" name="domain" value="" />
    <input type="hidden" id="financeReport" name="financeReport" value="" />
    <input type="hidden" id="region_Id" name="region_Id" value="" />
    <input type="hidden" id="distribution_Id" name="distribution_Id" value="" />
    <input type="hidden" id="cTariff" name="cTariff" value="" />
}

