﻿@model LanguageSelectorModel
@using Energy.Web.Models.Common;
@using Energy.Core;
@using Energy.Core.Infrastructure;
@if (Model.AvailableLanguages.Count > 1)
{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();

    @*if (Model.UseImages)
    {*@
    <ul class="language-list">
        @foreach (var lang in Model.AvailableLanguages)
        {
            <li><a href="@webHelper.ModifyQueryString(Url.RouteUrl("ChangeLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)" title="@lang.Name" @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)>
                @*<img title='@lang.Name' alt='@lang.Name' @(lang.Id == Model.CurrentLanguageId ? " class=selected" : null)
                 src="@Url.Content("~/Content/Images/flags/" + @lang.FlagImageFileName) " />*@
                @lang.Name
            </a></li>
        }
    </ul>
    @*}
    else
    {
        var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
        {
            Text = lang.Name,
            Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeLanguage", new { langid = lang.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
            Selected = lang.Id.Equals(Model.CurrentLanguageId)
        });
    
    @Html.DropDownList("customerlanguage", languages, new { onchange = "setLocation(this.value);" })
    }*@
}