﻿@model RegionModel
@{
    //page title
    ViewBag.Title = T("افزودن منطقه توزیع جدید").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "country-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
            @T("افزودن منطقه توزیع جدید") @Html.ActionLink("(" + T("بازگشت به فهرست منطقه های توزیع") + ")", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}