﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@model DistributionAreaModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Countries.States.EditStateDetails").Text;
}
<div class="container" style="padding-top:20px;">
    <div class="page split-page">
        <div class="page-body">
            <div class="fieldset">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="section-header">
                        <div class="title">
                            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
                            ویرایش اطلاعات برق منطقه ای
                        </div>
                        <div class="options">
                            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>
                    @Html.Partial("_CreateOrUpdateDistributionArea", Model)
                }
            </div>
        </div>
    </div>
</div>
