﻿@model DateTime?
@using Energy.Core;
@{
    var dateValue = Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToPerianDateTimeFormat() : null;
    var fieldId = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
    var fieldName = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
}

<input id="@fieldId" name="@fieldName" value="@dateValue" />
<script>
    $(document).ready(function () {
        $("#@fieldId").kendoDatePicker();
    });
</script>