﻿@model TariffListModel
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = "لیست تعرفه ها";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @*<img src="@Url.Content("~/Content/images/ico-tariffs.png")" alt="" />*@
            <span class="page-title">لیست تعرفه ها</span>
        </div>
    </div>
    <div class="fieldset product-selectors">
        <table width="100%">
            <tr>
                <td class="adminTitle" style="width:10%">
                    @Html.LabelFor(model => model.CTariffId):
                </td>
                <td class="adminData">
                    @Html.DropDownList("CTariffId", Model.CTariffs)
                </td>
            </tr>
        </table>
    </div>
    <hr />
    
    <div class="fieldset">
        <table class="adminContent" style="width:100%;">
            <tr>
                <td>
                    <div class="k-rtl" id="tariffs-grid" style="width:100%;"></div>

                    <script>
                        $(document).ready(function () {
                            $("#tariffs-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("TariffList", "Tariff"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                        update: {
                                            url:"@Html.Raw(Url.Action("TariffUpdate", "Tariff"))",
                                            type: "POST",
                                            dataType: "json",
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id", // define the model of the data source. Required for validation and property types.
                                            fields: {
                                                "Id":{ type: "number", editable: false },
                                                "CTariff": { type: "number", editable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                                                "Title": { type: "string", editable: false },
                                                "LimitCostKwh": { type: "number", editable: true },
                                                "MaxFine": { type: "number", editable: true },
                                                "MinDiscount": { type: "number", editable: true },
                                                "NoMaxDiscount": { type: "number", editable: true },
                                                "Factor": { type: "number", editable: true },
                                                "PowerCost": { type: "number", editable: true },
                                                "MidCost": { type: "number", editable: true },
                                                "MaxCost":{ type: "number", editable: true },
                                                "MinCost":{ type: "number", editable: true },
                                            }
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: false
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                sortable: true,
                                scrollable: false,
                                editable: {
                                    mode: "popup"
                                },
                                columns: [ {
                                    field: "CTariff",
                                    title: "تعرفه",
                                    width: 50
                                },{
                                    field: "Title",
                                    title: "عنوان",
                                    width: 80
                                },{
                                    field: "Description",
                                    title: "توضیحات",
                                    width: 150
                                },{
                                    field: "LimitCostKwh",
                                    title: "حداکثر بها ",
                                    width: 100,
                                },{
                                    field: "MinDiscount",
                                    title: "تخفیف کم باری",
                                    width: 100,
                                },{
                                    field: "NoMaxDiscount",
                                    title: "تخفیف غیراوج بار",
                                    width: 20,
                                },{
                                    field: "Factor",
                                    title: "ضریب",
                                    width: 20
                                },{
                                    field: "PowerCost",
                                    title: "بهای قدرت",
                                    width: 20
                                },{
                                    field: "MidCost",
                                    title: "میان بار",
                                    width: 20
                                },{
                                    field: "MaxCost",
                                    title: "اوج بار",
                                    width: 20
                                },{
                                    field: "MinCost",
                                    title: "کم باری",
                                    width: 20
                                },{
                                    command: [{
                                        name: "edit",
                                        text: { edit: "@T("Admin.Common.Edit")", update: "ثبت", cancel: "انصراف" }
                                    }],
                                    width: 100
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">

                        $(document).ready(function () {
                            $("#CTariffId").change(function () {
                                //search
                                var grid = $('#tariffs-grid').data('kendoGrid');
                                grid.dataSource.read();
                                return false;
                            });
                        });

                        function additionalData() {
                            return {
                                CTariffId: $('#CTariffId').val()
                            };
                        }
                    </script>
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(document).ready(function(){
        $("#tariff-tab").css('background', '#2f363a');
    });
</script>
