﻿@model MessageModel
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
<div id="dialog" title="ارسال پیام به کاربران" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید متن پیام برای کاربران ارسال میشود </p>
</div>
<div class="page">
    <div class="page-title">
        <h1 style="font-size:25px"></h1>
    </div>
    <div class="page-body">
        <div class="center-2 col-md-9 col-sm-12 col-xs-12 pull-right" style="padding-right:0px">
            <div class="product-selectors" style="font-size:21px;">
                <h1 style="text-align:center"> پبام های ارسالی</h1>
            </div>
            <span id="clk-btn" style="display:none"></span>

            <div class="row" style="display:flex;width:100%;margin:auto 0">
                <div style="width:50%">
                    <div class="block block-account-navigation" style="min-height:250px">
                        <div class="title">
                            <strong>متن صورتحساب</strong>
                        </div>
                        <div class="listbox" style="padding-top: 15px;min-height:200px">
                            <span style="font-size:18px;padding-right:15px;">مشترک گرامی : xxxxxxxx </span>
                            <br />
                            <span style="font-size:18px;padding-right:15px;">مالک انشعاب : xxxxxxxxxxxxxxxx </span>
                            <br />
                            <span style="font-size:18px;padding-right:15px;">صورتحساب دوره&nbsp; ##/## </span>
                            <br />
                            <span style="font-size:18px;padding-right:15px;">به مبلغ ###,##</span><br />
                            <span style="font-size:18px;padding-right:15px;">شناسه واریز : xxxxxxxx&nbsp;</span><br />
                            <span style="font-size:18px;padding-right:15px;">صادرگردید</span><br />
                            <span style="font-size:18px;padding-right:15px;">شرکت انرژی پاک</span><br />
                        </div>
                        <hr style="margin-bottom:0px" />
                        <div class="options" style="font-size:16px;text-align:center;padding:5px 0 5px 0">
                            <input id="send-bill-email" type="button" name="email" class="k-button" value="ارسال ایمیل" />
                            <input id="send-bill-sms" type="button" name="sms" class="k-button" value="ارسال SMS" />
                        </div>
                    </div>
                </div>
                <div style="width: 50%; margin-right: 5px;">
                    <div class="block block-account-navigation">
                        <div class="title">
                            <strong>پیام ثابت ارسالی</strong>
                        </div>
                        <div class="listbox" style="padding-top: 15px;min-height:200px">
                            <span style="font-size:18px;padding:0 20px 10px 0;display:block">متن پیام</span>
                            @Html.TextAreaFor(model => model.msgText, new { style = "Width: 342px; Height: 125px;margin-right:20px" })
                        </div>
                        <hr style="margin-bottom:0px" />
                        <div class="options" style="font-size:16px;text-align:center;padding:5px 0 5px 0">
                            <input id="send-text-email" type="button" name="email" class="k-button" value="ارسال ایمیل" />
                            <input id="send-text-sms" type="button" name="sms" class="k-button" value="ارسال SMS" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="hh-title" class="block block-account-navigation">
                <div class="title" style="height:55px">
                    <strong>فهرست کاربران</strong>
                </div>
                <div id="customers-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("CustomerList", "CustomersAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [{
                                field: "Id",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                width: 50
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Fields.Id")",
                                width: 50
                            }, {
                                field: "FullName",
                                title: "@T("Admin.Customers.Customers.Fields.FullName")",
                                width: 200
                            },{
                                field: "Email",
                                title: "@T("Admin.Customers.Customers.Fields.Email")",
                                width: 200,
                                attributes: { style: "font-weight:normal" },
                            },
                            {
                                field: "Phone",
                                title: "@T("Admin.Customers.Customers.Fields.Phone")",
                                width: 200
                            },
                             {
                                 field: "Active",
                                 title: "@T("Admin.Customers.Customers.Fields.Active")",
                                 width: 100,
                                 headerAttributes: { style: "text-align:center" },
                                 attributes: { style: "text-align:center" },
                                 template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'
                             }]
                        });
                    });
                </script>

                <script type="text/javascript">

                    var selectedIds = [];

                    $(document).ready(function () {

                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                            }
                            else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                }
                            }
                            updateMasterCheckbox();
                        });
                    });

                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        return {
                            SearchCustomerRoleIds: [7],
                        };
                    }
                </script>
            </div>
        </div>


        @*left side*@
        <div class="side-2 col-md-3 col-sm-12 col-xs-12">
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>سال و دوره را انتخاب کنید</strong>
                </div>
                <div class="listbox" style="padding-top: 15px">
                    <span style="font-size:18px;padding-right:15px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @id = "year", @style = "font-size:17px" })
                    <br />
                    <span style="font-size:18px;padding-right:15px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @id = "term", @style = "font-size:17px" })
                    <br />
                    <span id="terms-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#content-tab").css('background', '#2f363a')
    })

    $(function () {
        $("#year").change(function () {
            var selectedItem = $(this).val();
            var ddlTerms = $("#term");
            var termsProgress = $("#terms-loading-progress");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });
</script>
<script>

    //gharare inja jaigozin beshe
    $("#send-text-sms,#send-bill-sms,#send-text-email,#send-bill-email").click(function (e) {
        $("#clk-btn").val(this.id);
        var p = $('#dialog p');
        if($("#clk-btn").val() == "send-bill-sms" || $("#clk-btn").val() == "send-bill-email")
        {
            if($("#year").val() == 0)
            {
                p.html('لطفا ابتدا سال و دوره مورد نظر را انتخاب کنید');
                $('span:contains("تایید")').parent().hide();
                $("#dialog").dialog("open");
                return;
            }
        }
        p.html('در صورت تایید متن پیام برای کاربران ارسال میشود ');
        $('span:contains("تایید")').parent().show();
        $('span:contains("بستن")').html('انصراف');
        $("#dialog").dialog("open");
    });

    $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                var year = $("#year").val();
                var term = $("#term").val();
                var ids = selectedIds.join(",");
                var text = $("#msgText").val();
                var sendText = ($("#clk-btn").val() == "send-text-sms" || $("#clk-btn").val() == "send-text-email") ? true : false;
                var sendSMS = ($("#clk-btn").val() == "send-text-sms" || $("#clk-btn").val() == "send-bill-sms") ? true : false;
                if(!sendText)
                {
                    if(term == "" || term == null || year == 0)
                    {
                        p.html("");
                        p.append("لطفا سال و دوره مورد نظر را انتخاب کنید");
                        $('span:contains("تایید")').parent().css('display', 'none');
                        return;
                    }
                }
                $.ajax({
                    type: 'POST',
                    url: "@(Url.RouteUrl("SendSMS"))",
                    data: { "year": year,"term" : term , "selectedIds" : ids , "msgText" : text , "sendText" : sendText , "sendSMS" : sendSMS},
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog p');
                        p.html(result);
                        $('span:contains("تایید")').parent().css('display', 'none');
                        $('span:contains("انصراف")').html('بستن');
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });
</script>