﻿@model HomePageNewsItemsModel
@using Energy.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage">
        <div class="title">
            <strong>@T("News")</strong> <br /> 
			<small> <a href="@Url.RouteUrl("NewsArchive")"> @T("News.ViewAll")</a> </small> 
        </div>
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div style="padding:2px;" class="col-md-6 col-sm-6 col-xs-12">
					<div class="item">
						<div class="news-head">
							<a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
							<span class="news-date">@item.CreatedOn.ToString("D")</span>
						</div>
						<div class="news-details">
							@Html.Raw(item.Short)
						</div>
						<a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">
							@T("News.MoreInfo")
						</a>
					</div>
                </div>
            }
            <div class="view-all">
                
            </div>
        </div>
    </div>

}