﻿@model HandheldModel
@{
    ViewBag.Title = "Handheld";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendScriptParts("~/Scripts/jquery.fileupload.js");
}
<style>
    .corrective-row #first-col {
        cursor: pointer;
    }

    .corrective-row:hover {
        background: #eee;
    }
</style>
<div class="page">
    <div class="page-title">
        <h1 style="font-size:25px"></h1>
    </div>
    <div class="page-body">
        <div class="center-2 col-md-9 col-sm-12 col-xs-12 pull-right" style="padding-right:0px">
            <div class="product-selectors">
                <h1 style="font-size:21px">ارتباط با دستگاه کنتورخوان</h1>
            </div>
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>ثبت صورتحساب</strong>
                </div>
                <table class="table" style="margin-bottom:0px">
                    <tbody>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 35%; padding: 12px 20px ; border-right: 1px solid #dddddd;">
                                ثبت صورتحسابهای دوره جدید
                            </td>
                            <td style="width: 15%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="create_btn" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="create_result" style="font-weight: bold; color: darkred; font-size: 18px;padding:12px 20px"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; padding: 12px 20px; border-right: 1px solid #dddddd; ">
                                ثبت صورتحسابهای میان دوره
                            </td>
                            <td style="border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="midterm_btn" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="midterm_result" style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px;; padding-top: 12px;"></td>
                            <td></td>
                        </tr>
                        <tr class="corrective-row" id="corrective-row">
                            <td id="first-col" style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px;; padding: 12px 20px;">
                                ثبت صورتحساب اصلاحیه
                            </td>
                            <td style="border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="corrective_btn" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="corrective-result" style="font-weight:bold;color:darkred;font-size:17px"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="block block-account-navigation">
                <table class="table" style="margin-bottom: 0px; border: 1px solid #dddddd;">
                    <tbody>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 35%; padding: 12px 20px; border-right: 1px solid #dddddd;">
                                ایجاد فایل ورودی دستگاه کنتورخوان
                            </td>
                            <td style="width: 15%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="HH_btn" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">پردازش</button></span>
                            </td>
                            <td id="down_result" style="font-weight:bold;color:darkred;font-size:17px"></td>
                            <td style="width: 10%;">
                                <span style="">
                                    <a type="submit" style="display:none" class="k-button ep-button" id="Down_btn" href="@Url.RouteUrl("download", new { id = "" }) ">دانلود</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="block block-account-navigation">
                <table class="table" style="margin-bottom: 0px; border: 1px solid #dddddd;">
                    <tbody>
                        <tr>
                            <td style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 35%; padding: 12px 20px; border-right: 1px solid #dddddd;">
                                صفر کردن کنتور
                            </td>
                            <td style="width: 15%; border-left: 1px dashed #CCC; ">
                                <span style=""><button type="submit" class="k-button ep-button" id="zero_btn" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 60px;">ایجاد</button></span>
                            </td>
                            <td id="zero_result" colspan="2" style="">
                                <div>
                                    @Html.DropDownList("Split", Model.Splits, new { @id = "splits", @style = "margin-top: 0;height: 30px;" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="block block-account-navigation" style="text-align:center">
                <div class="title">
                    <strong>درج متن در صورتحسابهای دوره</strong>
                </div>
                <table class="table" style="margin-bottom:0px">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle ;padding: 12px 20px;">
                                <span style="font-weight: bold; text-align: right; margin-bottom: 0px; font-size: 18px; width: 30%; padding-top: 12px;">مشترک گرامی :</span>
                            </td>
                            <td>
                                <textarea id="description" style="height: 70px; width: 600px; padding: 10px; font-size: 18px; font-weight: bold;"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr style="margin:0" />
                <input type="button" id="Create_Description" style="padding-left:25px;padding-right:25px;margin:5px;" class="k-button ep-button" role="button" value="ایجاد متن" />
            </div>
            <div id="hh-title" class="block block-account-navigation" style="display:none">
                <div class="title" style="height:55px">
                    <strong>نمایش اطلاعات فایل کنتور خوان</strong>
                    <button type="submit" id="HighLow_btn" class="k-button ep-button" value="" style="margin-bottom: 0px; margin-top: 0px; font-size: 15px; width: 80px;float:left;">هایلوگیری</button>
                </div>
                <div id="info-grid"></div>
            </div>
            <div id="split-title" class="block block-account-navigation" style="display:none">
                <div class="title" style="height:55px">
                    <strong>در لیست زیرانشعاب هایی را که نیاز به صورتحساب اصلاحیه دارند انتخاب کنید</strong>
                </div>
                <div id="split-grid"></div>
            </div>
        </div>


        @*left side*@
        <div class="side-2 col-md-3 col-sm-12 col-xs-12">
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>انتخاب فایل متنی</strong>
                </div>
                <form action="" enctype="multipart/form-data" id="myform">
                    <input id="fileupload" type="file" name="files" multiple="multiple" />
                </form>
                <p id="up_result" style="font-weight:bold;color:darkred;font-size:17px;padding-top:10px;padding-right:15px"></p>
                <p id="filename" style="font-weight: bold; color: darkred; font-size: 17px; padding-right: 15px"></p>
                <label id="fname" style="display:none"></label>
                <label id="clkbtn" style="display:none"></label>
                <span id="check" style="display:none">false</span>
                <span id="check-corrective" style="display:none">false</span>
            </div>
            <div class="block block-account-navigation">
                <div class="title">
                    <strong>سال و دوره را انتخاب کنید</strong>
                </div>
                <div class="listbox" style="padding-top: 15px">
                    <span style="font-size:18px;padding-right:15px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @id = "year", @style = "font-size:17px" })
                    <br />
                    <span style="font-size:18px;padding-right:15px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @id = "term", @style = "font-size:17px" })
                    <br />
                    <span id="terms-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                </div>
            </div>
            <div class="block block-account-navigation" id="end-term" style="display:none">
                <div class="title">
                    <strong>دوره انتهایی صورتحساب اصلاحیه</strong>
                </div>
                <div class="listbox" style="padding-top: 15px">
                    <span style="font-size:18px;padding-right:15px;">سال : </span> @Html.DropDownList("Year", Model.Years, new { @class = "", @id = "endYear", @style = "font-size:17px" })
                    <br />
                    <span style="font-size:18px;padding-right:15px;">دوره : </span>@Html.DropDownList("Term", Model.Terms, new { @class = "", @id = "endTerm", @style = "font-size:17px" })
                    <br />
                    <span id="end-terms-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="dialog" title="ایجاد صورتحساب جدید" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید صورتحساب های دوره جدید ایجاد میشوند</p>
</div>
<div id="dialog2" title="ایجاد فایل ورودی هندهلد" style="padding-left:35px;padding-top:15px;">
    <p></p>
</div>
<div id="dialog3" title="درج توضیحات تکمیلی در صورتحساب ها" style="padding-left:35px;padding-top:15px;">
    <p></p>
</div>
<div id="dialog4" title="ایجاد صورتحساب اصلاحیه" style="padding-left:35px;padding-top:15px;">
    <p></p>
</div>
<div id="dialog5" title="ایجاد کنتور صفر" style="padding-left:35px;padding-top:15px;">
    <p></p>
</div>
<div id="dialog6" title="ایجاد میان دوره" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید صورتحساب های میان دوره ایجاد میشوند</p>
</div>


<script type="text/javascript">
    $(function () {
        $("#file-tab").css('background', '#2f363a')
    })

    $(function () {
        $("#year").change(function () {
            var selectedItem = $(this).val();
            var ddlTerms = $("#term");
            var termsProgress = $("#terms-loading-progress");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });

    $(function () {
        $("#endYear").change(function () {
            var selectedItem = $(this).val();
            var ddlTerms = $("#endTerm");
            var termsProgress = $("#end-terms-loading-progress");
            termsProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetTermsByYear"))",
                data: { "year": selectedItem },
                success: function (data) {
                    ddlTerms.html('');
                    $.each(data, function (id, option) {
                        ddlTerms.append($('<option></option>').val(option).html(option));
                    });
                    termsProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve terms.');
                    termsProgress.hide();
                }
            });
        });
    });

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#info-grid').data('kendoGrid');
        $.each(grid.dataSource.view(), function () {
            if (this['selected'] != state)
                this.dirty = true;
            this['selected'] = state;
        });
        grid.refresh();
    }

    $(function () {
        $('#fileupload').fileupload({
            url: '/Handheld/HH_UploadFile',
            progressall: function (e, data) {
            },
            done: function (e, data) {
                $('p#up_result').html(data.result);
                $('p#filename').html('نام فایل : ' + data.files[0].name);
                $('label#fname').html(data.files[0].name);
                $('span#check').html('true');
                loadGrid();
            }
        });
    })

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    function loadGrid() {
        if ($("label#fname").html() == "") {
            $('td#create_result').html("فایل کنتورخوان اپلود نشده است");
            return;
        }
        else {
            $("#info-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ReadHandheldFile", "Handheld"))",
                            type: "POST",
                            dataType: "json",
                            data: AdditionalData
                        }
                    },
                    schema: {
                        data: "Data"
                    },
                    error: function (e) {
                        // Cancel the changes
                        this.cancelChanges();
                        $('#info-grid').html('<div class="err-msg">خطا در خواندن فایل . مجددا فایل را بارگذاری کنید</div>');
                        $('span#check').html('false');
                    },
                    success: function (e) {
                        $('#info-grid').html('')
                    },
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                pageable: {
                    refresh: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                {
                    title: "انتخاب",
                    field: "selected",
                    template: '<input type="checkbox" class="check_box" data-bind="checked: selected" #= selected ? "checked=checked" : "" # ></input>',
                    headerTemplate: "<input type='checkbox' id='chkSelectAll' onclick='checkAll(this)'/>",
                    width: 10,
                },
                {
                    field: "rowNumber",
                    title: "شماره",
                    width: 50
                },
                {
                    field: "SplitID",
                    title: "انشعاب",
                    width: 50
                }, {
                    field: "DateReadPersian",
                    title: "تاریخ قرائت",
                    width: 50
                }, {
                    field: "MidRead",
                    title: "میان باری",
                    width: 50
                }, {
                    field: "MaxRead",
                    title: "اوج بار",
                    width: 50
                }, {
                    field: "MinRead",
                    title: "کم باری",
                    width: 50
                }, {
                    field: "ReactRead",
                    title: "راکتیو",
                    width: 50
                }, {
                    field: "PowerRead",
                    title: "قدرت",
                    width: 50
                }, {
                    field: "Discount",
                    title: "تخفیف",
                    width: 50,
                    hidden: true
                }, {
                    field: "Type",
                    title: "نوع صورتحساب",
                    width: 50,
                    hidden: true
                }, {
                    field: "Description",
                    title: "توضیحات",
                    width: 250
                }],
                editable: "inline"
            })
        };

        $('#hh-title').show();
        $('#split-title').hide();

        var grid = $('#info-grid').data('kendoGrid');
        grid.pager.element.hide();
        $(".err-msg").css("display", "none");
        $('#hh-title').scrollView();
    };

    function loadSplitGrid() {
        $("#split-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SplitList", "Split"))",
                        type: "POST",
                        dataType: "json",
                        data: function additionalData() {
                        }
                    }
                },
                schema: {
                    data: "Data"
                },
                error: function (e) {
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 100,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: 100,
                numeric: false,
                input: true,
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
            {
                title: "انتخاب",
                field: "selected",
                template: '<input type="checkbox" class="check_box" data-bind="checked: selected" #= selected ? "checked=checked" : "" # ></input>',
                headerTemplate: "<input type='checkbox' id='chkSelectAll' onclick='checkAll_input(this)'/>",
                width: 15
            },
            {
                field: "Id",
                title: "انشعاب",
                width: 50
            },
            {
                field: "Title",
                title: "عنوان",
                width: 200
            },
            {
                field: "CustomerName",
                title: "نام مشتری",
                width: 150
            }],
        });

        var grid = $('#split-grid').data('kendoGrid');
        grid.pager.element.hide();
        $(".err-msg").css("display", "none");
    };

    function AdditionalData() {
        return {
            filename: $("label#fname").html(),
        };
    }

    $("#create_btn").click(function () {
        if ($('span#check').html() == 'true') {
            $("#dialog").dialog("open");
            $("label#clkbtn").html('main');
        }
        else
            $('#create_result').html('ابتدا فایل کنتور خوان را اپلود کنید');
    });

    $("#midterm_btn").click(function () {
        if ($('span#check').html() == 'true') {
            $("#dialog6").dialog("open");
            $("label#clkbtn").html('midterm');
        }
        else
            $('#midterm_result').html('ابتدا فایل کنتور خوان را اپلود کنید');
    });

    $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var griddata = $("#info-grid").data("kendoGrid");
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/Handheld/CreateNewTerm',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ griditems: griddata.dataSource.view(), billtype: $("label#clkbtn").html() }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog p');
                        p.html('در صورت تایید صورتحساب های دوره جدید ایجاد میشوند');
                        $this.dialog('close');
                        $('#create_result').html(result.msg);
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $('#dialog6').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var griddata = $("#info-grid").data("kendoGrid");
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog6 p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/Handheld/CreateMidTerm',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ griditems: griddata.dataSource.view(), billtype: $("label#clkbtn").html() }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog6 p');
                        p.html('در صورت تایید صورتحساب های میان دوره ایجاد میشوند');
                        $this.dialog('close');
                        $('#midterm_result').html(result.msg);
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $("#HH_btn").click(function () {
        if ($('#year').val() == '0') {
            $('#down_result').html('ابتدا سال و دوره مورد نظر را انتخاب کنید');
        }
        else {
            var year = $('#year').val();
            var term = $('#term').val();
            var p = $('#dialog2 p');
            p.html("در صورت تایید فایل ورودی هند هلد مربوط به سال " + year + " دوره " + term + " ایجاد میشود");
            $("#dialog2").dialog("open");
        }
    });

    $('#dialog2').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog2 p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                var year = $('#year').val();
                var term = $('#term').val();
                $("a#Down_btn").attr("href", "/Handheld/HH_DownloadFile/" + term);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateHandheldFile")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ year: $('#year').val(), term: $('#term').val() }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog2 p');
                        p.html('');
                        $this.dialog('close');
                        $('#down_result').html(result.msg);
                        $("#Down_btn").show();
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $(document).on('click', "#HighLow_btn", function (e) {

        var griddata = $("#info-grid").data("kendoGrid");

        //var loading = $("<i class='loading'></div>");
        //var p = $('p#popup_content');
        //p.html("");
        //p.append(loading);
        //working = true;
        //$("a#popup1").click();

        $.ajax(
               {
                   type: 'POST',
                   url: '/Handheld/HighLow',
                   dataType: 'json',
                   contentType: "application/json; charset=utf-8",
                   data: JSON.stringify({ griditems: griddata.dataSource.view() }),
                   success: function (result) {
                       //$('.pop-up-1').modal('hide');
                       var grid = $("#info-grid").data("kendoGrid");
                       for (var i = 0; i < result.length; i++) {
                           if (result[i].hasError == true) {
                               var item = grid.tbody.find('>tr').eq(i).find('td').eq(11);
                               item.html("<button type='button' class='k-button ep-button' data-container='body' data-toggle='popover' data-placement='left' data-content='" + result[i].description + "'>مشاهده اطلاعات</button>");
                               //var dataItem = grid.dataItem(this);
                               //$(this).find('td:last-child').html("<button type='button' class='btn btn-default' data-container='body' data-toggle='popover' data-placement='left' data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.'>Popover on left</button>");
                               grid.tbody.find('>tr').eq(i).css('color', 'red');
                           }
                           $("[rel='popover']").each(function (i, e) {
                               $(e).popover({ trigger: "click", html: true });
                           });

                           $("[data-toggle=popover]").popover({ trigger: "click", html: true });
                       }
                   },
                   error: function (objAjaxRequest, strError) {
                       var respText = objAjaxRequest.responseText;
                       console.log(respText);
                   }
               });
    });

    $(document).on('click', "#Create_Description", function (e) {


        var p = $('p#popup_content');
        p.html("");

        $.get("@Url.Action("/CreateDescription")",
            {
                year: y,
                term: t,
                Description: d,
            },
            function (data) {
                $('p#popup_content').html(data);
            });

        e.stopPropagation();
    });

    $("#Create_Description").click(function (e) {
        var p = $('#dialog3 p');
        if ($("#year").val() == 0) {
            p.html('لطفا ابتدا سال و دوره مورد نظر را انتخاب کنید');
            $('span:contains("تایید")').parent().hide();
            $("#dialog3").dialog("open");
            return;
        }
        p.html('در صورت تایید متن پیام در قسمت توضیحات صورتحساب درج میشود ');
        $('span:contains("تایید")').parent().show();
        $("#dialog3").dialog("open");
    });

    $('#dialog3').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog3 p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                var y = $("#year :selected").val();
                var t = $("#term :selected").val();
                var d = $("#description").val();
                $.ajax({
                    type: 'POST',
                    url: "@(Url.RouteUrl("CreateDescription"))",
                    data: { "Description": d, "year": y, "term": t },
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog3 p');
                        p.html(result);
                        $('span:contains("تایید")').parent().css('display', 'none');
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $("#corrective-row #first-col").click(function () {
        $("#end-term").show();
        $("#split-title").show();
        loadSplitGrid();
        $("#split-title").scrollView();
    });

    function checkAll_input(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#split-grid').data('kendoGrid');
        $.each(grid.dataSource.view(), function () {
            if (this['selected'] != state)
                this.dirty = true;
            this['selected'] = state;
        });
        grid.refresh();
    }

    $(document).on('change', ".check_box", function (e) {
        if ($("#split-title").css('display') != 'none')
            var grid = $("#split-grid").data("kendoGrid");
        else
            var grid = $("#info-grid").data("kendoGrid");
        var row = $(e.target).closest("tr");
        var item = grid.dataItem(row);
        item.set("selected", $(e.target).is(":checked") ? 1 : 0);
    });

    $('#dialog4').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var griddata = $("#split-grid").data("kendoGrid");
                if (typeof griddata == "undefined")
                {
                    $('#corrective-result').html("ابتدا روی عبارت 'ثبت صورتحساب اصلاحیه' کلیک کرده و انشعاب های مورد نظر را از لیست انتخاب کنید");
                    var p = $('#dialog4 p');
                    p.html('');
                    $('#dialog4').dialog('close');
                    return;
                }
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog4 p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/Handheld/CreateCorrectiveTerm',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        griditems: griddata.dataSource.view(),
                        year: $('#year').val(), term: $('#term').val(),
                        endYear: $('#endYear').val(), endTerm: $('#endTerm').val()
                    }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog4 p');
                        p.html('');
                        $this.dialog('close');
                        $('#corrective-result').html(result.msg);
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $("#corrective_btn").click(function () {
        if ($('#year').val() == '0') {
            $('#corrective-result').html('ابتدا سال و دوره مورد نظر را انتخاب کنید');
        }
        else {
            var year = $('#year').val();
            var term = $('#term').val();
            var endYear = $('#endYear').val();
            var endTerm = $('#endTerm').val();
            var p = $('#dialog4 p');
            if (endYear == 0 || typeof endYear === "undefined") {
                p.html("در صورت تایید، صورتحساب اصلاحیه مربوط به سال " + year + " دوره " + term + " ایجاد میشود");
            }
            else {
                if (year == endYear)
                    p.html("در صورت تایید، صورتحساب اصلاحیه مربوط به سال " + year + " دوره " + term + " لغایت دوره " + endTerm + " ایجاد میشود");
                else
                    p.html("در صورت تایید، صورتحساب اصلاحیه مربوط به سال " + year + " دوره " + term + " لغایت سال " + endYear + " دوره " + endTerm + " ایجاد میشود");
            }
            $("#dialog4").dialog("open");
        }
    });

    $("#zero_btn").click(function () {
        if ($('#splits').val() == '0') {
            $('#down_result').html('ابتدا انشعاب مورد نظر را از لیست زیر انتخاب کنید');
        }
        else {
            $('#down_result').html('')
            var splitId = $('#splits').val();
            var p = $('#dialog5 p');
            p.html("در صورت تایید برای انشعاب " + splitId + " دوره صفر ایجاد میشود");
            $("#dialog5").dialog("open");
        }
    });

    $('#dialog5').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog5 p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                var splitId = $('#splits').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateZeroTerm")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ splitId: $('#splits').val()}),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog5 p');
                        p.html(result.msg);
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });
</script>
