﻿@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Widget("home_page_bottom")
    </div>
</div>
<script>
    $(function () {
        $("#home-tab").css('background', '#2f363a')
    })
</script>
