﻿@model RequestDetailModel

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>درخواست ها - جزئیات درخواست</h1>
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            <div class="fieldset">
                <div class="title">
                    <strong>اطلاعات درخواست</strong>
                </div>
                <hr />
                <div class="inputs">
                    @Html.LabelFor(model => model.RequestTypeName, new { }, ":")
                    @Model.RequestTypeName
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.tariff, new { }, ":")
                    @Model.tariff
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.DistributionArea, new { }, ":")
                    @Html.EditorFor(model => model.DistributionArea)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.CustomerName, new { }, ":")
                    @Html.EditorFor(model => model.CustomerName)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.Amp, new { }, ":")
                    @Html.EditorFor(model => model.Amp)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.Volt, new { }, ":")
                    @Html.EditorFor(model => model.Volt)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.Phase, new { }, ":")
                    @Html.EditorFor(model => model.Phase)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.Power, new { }, ":")
                    @Html.EditorFor(model => model.Power)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.CreatedOn, new { }, ":")
                    @Html.DisplayFor(model => model.CreatedOn)
                </div>
            </div>

            <div class="fieldset">
                <div class="title">
                    <strong>آدرس</strong>
                </div>
                <hr />
                <div class="inputs">
                    @Html.LabelFor(model => model.Address, new { }, ":")
                    @Html.EditorFor(model => model.Address)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.AddressContact, new { }, ":")
                    @Html.EditorFor(model => model.AddressContact)
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.SplitPostalCode, new { }, ":")
                    @Html.EditorFor(model => model.SplitPostalCode)
                </div>
            </div>

            if (Model.RequestFileModels.Count > 1)
            {
                <div class="fieldset" style="background: #f3f8fb;border-bottom: 2px solid #bad7e9;color: #1d425a;line-height:35px;">
                    <div class="title">
                        <strong>فایل های ضمیمه</strong>
                    </div>
                    <hr />
                    @for (int i = 0; i < Model.RequestFileModels.Count; i++)
                    {
                        <span class="download-icon"></span>
                        <span style="margin-right:20px;width:15%;">@Model.RequestFileModels[i].Description : </span>
                        <a class="download-link" href="@Url.RouteUrl("RequestDownload", new { Id = Model.RequestFileModels[i].File_Id })">@Html.Raw(Model.RequestFileModels[i].FileName)</a>
                        <br />
                    }
                </div>
            }
        }
    </div>
</div>
