﻿@model RequestSearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog.ActivityLog").Text;
}
<script type="text/javascript">
    $(function () {
        $("#request-tab").css('background', '#2f363a')
    })
</script>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title" style="font-size:21px;">
            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
            فهرست درخواست های کاربران
        </div>
        <div class="options">
            <input type="button" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
        </div>
    </div>
    <div class="product-selectors" style="padding:5px;">
        <table width="100%">
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.CreatedOnFrom):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreatedOnFrom)
                </td>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.CreatedOnTo):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreatedOnTo)
                </td>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.RequestTypeId):
                </td>
                <td class="adminData">
                    @Html.DropDownList("RequestTypeId", Model.RequestType)
                </td>
            </tr>
        </table>
    </div>
    <table class="adminContent" style="width:100%;">
        <tr>
            <td>
                <div id="request-grid"></div>
                <script>
    $(document).ready(function () {
        $("#request-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ListRequests", "RequestAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("AcivityLogDelete", "ActivityLog"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            //do not implicitly specify all fields
                            //we do it only for fields which implicitly require it
                            //otherwise, they'll be formatted wrong way
                            CreatedOn: {type: "date" }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "RequestTypeName",
                title: "نوع درخواست",
                width: 200
            }, {
                field: "Customer_Id",
                title: "@T("Admin.Configuration.ActivityLog.ActivityLog.Fields.Customer")",
                width: 300,
                template: '<a href="@Url.Content("~/CustomersAdmin/Edit/")#=Customer_Id#">#:CustomerEmail#</a>'
            },  {
                field: "CreatedOn",
                title: "@T("Admin.System.Log.Fields.CreatedOn")",
                width: 200,
                //type: "date",
                //format: "{0:G}",
                template: "#=format_date(CreatedOn)#"
            }, {
                field: "Id",
                title: " ",
                width: 100,
                template: '<a href="@Url.Content("~/RequestAdmin/Detail/")#=Id#">مشاهده جزئیات</a>'
            }, {
                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                title: "@T("Admin.Common.Delete")",
                width: 100
            }]
        });
    });
                </script>
                <script type="text/javascript">

                    $(document).ready(function () {

                        $('#btnSearch').click(function () {
                            var grid = $('#request-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            return false;
                        });
                    });

                    function additionalData() {
                        return {
                            CreatedOnFrom: $('#@Html.FieldIdFor(model => model.CreatedOnFrom)').val(),
                            CreatedOnTo: $('#@Html.FieldIdFor(model => model.CreatedOnTo)').val(),
                            ActivityLogTypeId: $('#RequestTypeId').val()
                        };
                    }
                </script>
            </td>
        </tr>
    </table>
}
