﻿@{
    var openAuthParameters = ExternalAuthorizerHelper.RetrieveParametersFromRoundTrip(false);
}
@using Energy.Core
@using Energy.Services.Authentication.External;
@if (openAuthParameters != null)
{
    <div class="external-auth-association">
        @T("Account.AssociatedExternalAuth.YourAccountWillBeLinkedTo")
        <span class="identifier">
            @CommonHelper.EnsureMaximumLength(openAuthParameters.ExternalIdentifier, 40, "...")
        </span>
        <a href="@Url.Action("RemoveParameterAssociation", "ExternalAuthentication", new { ReturnUrl = HttpContext.Current.Request.RawUrl })" class="remove">@T("Account.AssociatedExternalAuth.YourAccountWillBeLinkedTo.Remove")</a>
    </div>
}