﻿@{
    var defaultGridPageSize = 10;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
<style>
    .k-edit-label {
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .k-edit-field {
        padding: 5px;
    }

    .k-numeric-wrap input {
        margin-right: 1px !important;
    }

    /*#bills-grid table {
        table-layout: fixed;
    }*/
</style>
<div class="k-rtl" id="bills-grid" style="font-weight:bold;width:100%">
    <span style="font-size:22px;">برای مشاهده صورتحساب ها، ابتدا انشعاب مورد نظر را انتخاب کنید</span>
</div>
<div id="dialog" title="ایجاد صورتحساب جدید" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید محاسبات صورتحساب انجام خواهد شد</p>
</div>
<div id="last_clicked"></div>

<script type="text/javascript">
    function LoadBills(id,title) {
        $('#bills-grid').html("");
        $('#bills-title').html("لیست صورتحساب های انشعاب  " + id )
        $("#bills-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Content("/Bill/List/")" + id,
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url:"@Html.Raw(Url.Action("Update", "Bill"))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("Delete", "Bill"))",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (data, type) {
                        return data;
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                            Year: { type: "number", editable: false},
                            Term: { type: "number", editable: false },
                            Type: { type: "string", editable: false },
                            DateRead: {
                                type: "date",
                                validation: {
                                    required: true
                                },
                                parse: parseDate,
                                defaultValue: format_date(new Date(), 'jYYYY/jMM/jDD')
                            },
                            MidRead: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            MaxRead: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            MinRead: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            ReactRead: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            PowerRead: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            Debit: { type: "number", validation: { required: true }, format: "{0:n0}", },
                            type: { type: "number", editable: false }
                        }
                    }
                },
                requestEnd: function(e) {
                    if (e.type == "create" || e.type == "update") {
                        if(!e.response || !e.response["Errors"])
                            this.read();
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                sort: { field: "Id", dir: "desc" },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                mode: "popup",
                window: {
                    title: "ویرایش اطلاعات صورتحساب"
                }
            },
            save: function (e) {
                e.model.DateRead = e.container.find("input[name=DateRead]").val();
            },
            edit: function (e) {
                $(".k-edit-form-container .k-edit-label").first().hide();
                $(".k-edit-form-container .k-edit-field").first().hide();
                $(".k-edit-form-container .k-edit-label").last().hide();
                $(".k-edit-form-container .k-edit-field").last().hide();
                $("[for=Id]").parent().hide();
                $("[for=Id]").parent().next().hide();
            },
            scrollable: false,
            columns: [  { field: "Id", title: "شماره", width: 10 },
                        { field: "Year", title: "سال", width: 50 },
                        { field: "Term", title: "دوره", width: 50 },
                        { field: "Type", title: "نوع", width: 80, attributes: { style: "color:darkred" }, },
                        {
                            field: "DateRead",
                            title: "تاریخ",
                            type: "date",
                            format: "{0:yyyy/MM/dd}",
                            width:150
                            //template: "#=kendo.toString(kendo.parseDate(DateRead, 'yyyy-MM-dd'), 'MM/dd/yyyy')#",
                            //editor: dateEditor,
                        },
                        { field: "MidRead", title: "میان باری", format: "{0:0.###}" , width:80},
                        { field: "MaxRead", title: "اوج بار", format: "{0:0.###}" , width:80},
                        { field: "MinRead", title: "کم باری", format: "{0:0.###}" , width:80},
                        { field: "ReactRead", title: "راکتیو", format: "{0:0.###}" , width:80},
                        { field: "PowerRead", title: "قدرت", format: "{0:0.###}" , width:80},
                        { field: "Debit", title: "بدهی", format: "{0:n0}"  , width:80}, {
                            command: [{
                                name: "edit",
                                text: { edit: "ویرایش", update: "تایید", cancel: "انصراف" }
                            }],
                            width: 100
                        },
                        //{ field: "Id", title: "&nbsp;", width: 50, template: "<a onClick='UploadFile(#=Id#)'>اپلود</a>"},
                        { field: "Id", title: "&nbsp;", width: 50, template: '<a href="PdfBill/#=Id#">دانلود</a>'},
                        { field: "Id", title: "&nbsp;", width: 50, template: "<a id='calculate' target='_new' val='#=Id#' code='#=Id#'>#=IsLastTerm ? 'محاسبه' : ''#</a>" },
                        { field: "Id", title: "&nbsp;", width: 50, template: "<a id='show' target='_new' href='BillDetail/#=Id#'>صورتحساب</a>" }]
        });

        $('#bills-title').scrollView();
    };

    function parseDate(data) {
        return format_date(data, 'jYYYY/jMM/jDD');
    }

    function AdditionalInfo(){
        return ("#splitIdValue").val();
    }

    function UploadFile(id)
    {
        window.open("/Bill/UploadFile/" + id , "popupWindow","top=50, left=400, width=800, height=700");
    }


    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    $(document).on('click', "a#calculate", function (e) {
        $('span:contains("تایید")').parent().show();
        $('span:contains("بستن")').html('انصراف');
        $("#last_clicked").val($(this).attr("code"));
        $('#dialog p').html('در صورت تایید محاسبات صورتحساب انجام خواهد شد');
        $("#dialog").dialog("open");
    });

    $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#dialog p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("/CalculateBill")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ id: $("#last_clicked").val() }),
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#dialog p');
                        p.html(result.msg);
                        $('span:contains("تایید")').parent().css('display', 'none');
                        $('span:contains("انصراف")').html('بستن');
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });
</script>
