﻿@model Energy.Web.Models.Bills.BillModel

@{
    Layout = null;
}
@using Helper.Extensions
@using System.Globalization
@using Energy.Web.Tools
@using Web.Tools

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>نمایش قبض</title>

    <link href="~/Content/css/bill.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="padding-top: 10px">
    <div id="printable" style="width: 920px; margin-left: auto; margin-right: auto">
        <div style="width: 890px; margin-right: auto; margin-left: auto; border: solid 1px #999999; border-radius: 7px; text-align: right;">
            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr class="auto-style21">
                        <td colspan="0" rowspan="15" style="">
                            <h4 id="printable" class="panel-lefttitle">کد اقتصادی : ۴۱۱۳۹۵۳۴۶۸۶۴</h4>
                        </td>
                        <td class="auto-style2" style="border-top-width: 1px; border-left-width: 1px;">
                            <span id="postal" class="auto-style10" style="">@Model.Split.Postal</span>
                        </td>
                        <td class="auto-style2">:کد پستی </td>
                        <td class="auto-style2" colspan="4">
                            <span id="splitTitle" class="auto-style25">@Model.Split.Title</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; padding-right: 10px">: مشترک محترم</td>

                        <td colspan="2" rowspan="3" style="padding: 10px; text-align: right; vertical-align: top;">
                            <img alt="شرکت انرژی پاک" src="~/Content/Images/logo.png" style="height: 52px; width: 217px">
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style2"></td>
                        <td class="auto-style2"></td>
                        <td class="auto-style2" colspan="4">
                            <span id="address" class="auto-style25">@Model.Split.Address</span>
                        </td>
                        <td class="auto-style24" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; padding-right: 10px">: نشانی محل مصرف</td>

                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style2" style="border-left-width: 1px;">
                            <span id="plate" class="auto-style10">@*@Model.Split.Plate*@</span>
                        </td>
                        <td class="auto-style2">@*:پلاک*@</td>
                        <td class="auto-style2" colspan="4">
                            <span id="addressContact" class="auto-style10">@Model.Split.AddressContact</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; padding-right: 10px">: نشانی مکاتباتی</td>

                    </tr>
                    <tr>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999;"></td>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999"></td>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999">
                            <span id="dispass" class="auto-style25">@Model.Split.DisPass</span>
                        </td>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999" colspan="2">:رمز رایانه</td>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999">
                            <span id="splitID" class="auto-style25" style="">@Model.Split.Id</span>
                        </td>
                        <td class="auto-style2" style="padding-right: 10px; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">: شناسه انشعاب</td>

                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">
                            <span id="defaultDescription" class="auto-style10">تهران - صادقیه ، خیابان کوهدشت پلاک 12 واحد 5</span>
                        </td>
                        <td class="auto-style2" style="border-top-style: solid; border-top-width: 1px; border-top-color: #999999; padding-right: 10px">: آدرس</td>
                    </tr>
                    <tr>
                        <td class="auto-style2"></td>
                        <td class="auto-style2"></td>
                        <td class="auto-style2">
                            <span id="installDate" class="auto-style25" style="">@Model.Split.InstallDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style2" colspan="2">:تاریخ نصب</td>

                        <td class="auto-style2">
                            <span id="fileNo" class="auto-style10" style="">@Model.Split.FileNo</span>
                        </td>
                        <td class="auto-style2" style="padding-right: 10px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999">:پرونده</td>

                        <td class="auto-style2">
                            <span id="response" class="auto-style10" style="">021-44288947</span>
                        </td>
                        <td class="auto-style2" style="padding-right: 10px;">واحد صدور صورتحساب</td>
                    </tr>
                    <tr>
                        <td class="auto-style2"></td>
                        <td class="auto-style2"></td>
                        <td class="auto-style2" colspan="2">
                            <span id="tariffArea" class="auto-style25">@*@Model.Title*@</span>
                        </td>
                        <td class="auto-style2" colspan="2">
                            <span id="tariffArea" class="auto-style25">@Calculate.GetTariff(Model.Split.CTariffId.ToString())  @Model.Title</span>
                        </td>
                        <td class="auto-style24" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; padding-right: 10px;">:عنوان و کد تعرفه</td>

                        <td class="auto-style2">
                            <span id="disArea" class="auto-style10">@*@Model.Split.DistributerArea*@</span>
                        </td>
                        <td class="auto-style2" style="padding-right: 10px">:منطقه برق</td>
                    </tr>
                    <tr>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">
                            <span id="voltage" class="auto-style10">@Calculate.GetVolt(Model.Split.Volt.ToString())</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;">:ولتاژ تغذیه</td>
                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;" class="auto-style2">
                            <span id="tagdate" class="auto-style10">@Model.Split.PowerTagDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;" colspan="2">:تاریخ انقضا پروانه</td>
                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;" class="auto-style2">
                            <span id="activity" class="auto-style10">@*@Model.Split.Activity*@</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; border-right-style: solid; border-right-width: 1px; border-right-color: #999999; padding-right: 10px">:نوع فعالیت</td>

                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;" class="auto-style2">
                            <span id="disUnit" class="auto-style10">011-34623537</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; padding-right: 10px">: واحد حوادث</td>
                    </tr>
                </tbody>
            </table>

            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr class="auto-style21">
                        <td class="auto-style11" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 100px; font-weight: bold">مبلغ - ریال</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 100px; font-weight: bold;">نرخ</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; font-weight: bold">مصرف کل</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; font-weight: bold" colspan="2">شمارنده کنونی</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; font-weight: bold">شمارنده قبلی</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; font-weight: bold">رقم</td>
                        <td class="auto-style7" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; font-weight: bold">شرح مصارف</td>

                        <td colspan="4" class="auto-style7" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; font-weight: bold">قدرت - کیلو وات</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="midCost" class="auto-style10">@Model.MidCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="midRate" class="auto-style10">@Model.MidRate</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="midUsed">@Model.MidUsed.ToString("#.###")</span>
                        </td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" class="auto-style3" colspan="2">
                            <span id="midRead" class="auto-style10">@Model.MidRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>

                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="midPre">@Model.MidReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="digit">@((int)Model.Split.Timer)</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; padding-right: 10px">میان باری</td>

                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style2">
                            <span id="power90" class="auto-style10">@Model.Power90.ToString("#.###")</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 75px; text-align: center">محاسبه شده</td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style14">
                            <span id="power">@Model.Split.Power.ToString()</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; width: 75px; text-align: center">قراردادی</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="maxCost" class="auto-style10">@Model.MaxCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="maxRate" class="auto-style10">@Model.MaxRate</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="maxUsed">@Model.MaxUsed.ToString("#.###")</span>
                        </td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" class="auto-style3" colspan="2">
                            <span id="maxRead" class="auto-style10">@Model.MaxRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>

                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="maxPre">@Model.MaxReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="digit0">@((int)Model.Split.Timer)</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; padding-right: 10px">اوج بار</td>

                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style2">
                            <span id="lbl" class="auto-style10"></span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 75px; text-align: center">کاهش یافته</td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style14">
                            <span id="powerTag" style="color: #000066;">@Model.Split.PowerTag</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; width: 75px; text-align: center">پروانه مجاز</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="minCost" class="auto-style10">@Model.MinCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="minRate" class="auto-style10">@Model.MinRate</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="minUsed">@Model.MinUsed.ToString("#.###")</span>
                        </td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" class="auto-style3" colspan="2">
                            <span id="minRead" class="auto-style10">@Model.MinRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>

                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="minPre">@Model.MinReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="digit1">@((int)Model.Split.Timer)</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; padding-right: 10px">کم باری</td>

                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style2">
                            <span id="powerOver" class="auto-style10">@(Model.PowerUsed - Model.Split.Power > 0 ? Model.PowerUsed - Model.Split.Power : 0)</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 75px; text-align: center">تجاوز از قدرت</td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; width: 50px; text-align: center;" class="auto-style14">
                            <span id="powerUsed">@Model.PowerUsed.ToString("#.###")</span>
                        </td>
                        <td class="auto-style2" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; width: 75px; text-align: center">مصرفی</td>
                    </tr>
                    <tr>
                        <td class="auto-style26" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="reactCost" class="auto-style25">@Model.ReactCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="reactRate" class="auto-style10">@Model.ReactRate.ToString("0,0.000")</span>
                            &nbsp;<span class="auto-style13">*</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="reactUsed" class="auto-style21">@Model.ReactUsed.ToString("#.###")</span>
                        </td>
                        <td style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;" class="auto-style3" colspan="2">
                            <span id="reactRead" class="auto-style10">@Model.ReactRead.ToString(CultureInfo.InvariantCulture)</span>
                        </td>

                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="reactPre">@Model.ReactReadPre.ToString(CultureInfo.InvariantCulture)</span>
                        </td>
                        <td class="auto-style3" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999;">
                            <span id="digit2">@((int)Model.Split.Timer)</span>
                        </td>
                        <td class="auto-style2" style="border-right-style: solid; border-bottom-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-right-color: #999999; border-bottom-color: #999999; padding-right: 10px">راکتیو</td>

                        <td colspan="4" style="border-right: 1px solid #999999; border-bottom: 1px solid #999999; text-align: center; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; font-weight: bold" class="auto-style5">مشخصات کنتور</td>
                    </tr>
                    <tr>
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="allCost" class="auto-style13" style="font-weight: bold">@Model.AllCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style23" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999; font-weight: bold">بهای انرژی</td>
                        <td class="auto-style3" style="padding: 1px; margin: 0px">
                            <span id="allDays" style="color: #000066">@Model.AllDays.ToString()</span>
                        </td>
                        <td style="padding: 1px; margin: 0px; text-align: center;">تعداد روز </td>

                        <td style="padding: 1px; margin: 0px">
                            <span id="dateRead" style="color: #000066">@Model.DateRead.PersianDate("/")</span>
                        </td>
                        <td style="padding: 1px; margin: 0px; text-align: center;">تا تاریخ</td>
                        <td class="auto-style3" style="padding: 1px; margin: 0px">
                            <span id="dateReadPre" style="color: #000066">@Model.DateReadPre.PersianDate("/")</span>
                        </td>
                        <td class="auto-style2" style="padding-right: 10px">از تاریخ</td>

                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999;" class="auto-style3" colspan="2">
                            <span id="serial" class="auto-style10">@Model.Split.SerialNo</span>
                        </td>
                        <td style="border-bottom: 1px solid #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999; padding-right: 10px" class="auto-style2" colspan="2">
                            شماره بدنه کنتور اکتیو
                        </td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="power90Cost">
                                @Model.Power90Cost.ToString("#,##0")<br />
                            </span>
                        </td>

                        <td class="auto-style20" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">بهای قدرت مصرفی</td>
                        <td style="padding: 1px; margin: 0px"></td>
                        <td style="padding: 1px; margin: 0px" class="auto-style2">
                            &nbsp;
                        </td>

                        <td style="padding: 1px; margin: 0px" class="auto-style2" colspan="2">
                            <span id="today" class="auto-style10">@Model.issueDate.PersianDateN("/")</span>
                        </td>

                        <td class="auto-style2" colspan="2" style="padding-right: 10px">
                            : تاریخ صدور صورتحساب
                        </td>

                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999;" class="auto-style3" colspan="2">
                            <span id="serial0" class="auto-style10"></span>
                        </td>
                        <td style="border-bottom: 1px solid #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999; padding-right: 10px" class="auto-style2" colspan="2">
                            شماره بدنه کنتور راکتیو
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style26" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="warmCost" class="auto-style21">
                                @if (Model.Split.CTariffId == (int)Energy.Core.Domain.Constant.CTariff.Industry)
                                {
                                    <span>@Model.IndustDisCost.ToString("#,##0")</span><br />
                                }
                                @Model.FreelanceCost.ToString("#,##0")
                            </span>
                        </td>
                        <td class="auto-style17" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            @if (Model.Split.CTariffId == (int)Energy.Core.Domain.Constant.CTariff.Industry)
                            {
                                <span> : تخفیف صنعتی </span><br />
                            }
                            انشعاب آزاد
                        </td>
                        <td style="padding: 1px; margin: 0px"></td>
                        <td style="padding: 1px; margin: 0px" class="auto-style2"></td>

                        <td class="auto-style2" colspan="4">
                            براساس ضریب بدی مصرف محاسبه گردیده   <span class="auto-style13">*</span>
                        </td>

                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999;" class="auto-style27" colspan="2">
                            <span id="factor" class="auto-style25">@Model.Split.Factor.ToString()</span>
                        </td>
                        <td style="border-bottom: 1px solid #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999; padding-right: 10px" class="auto-style24" colspan="2">
                            ضریب کنتور
                        </td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="exceedCost">@Model.ExceedCost.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style20" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">تجاوز از قدرت</td>
                        <td style="padding: 1px; margin: 0px; text-align: center;" colspan="2">تخفیفات</td>

                        <td style="padding: 1px; margin: 0px" class="auto-style2" colspan="2">
                            <span id="lossFactor" class="auto-style10">@Model.LossFactor.ToString()</span>
                        </td>

                        <td class="auto-style2" colspan="2" style="padding-right: 10px">
                            : ضریب زیان بدی مصرف
                        </td>

                        <td style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999;" class="auto-style3" colspan="2">
                            <span id="AVfactor" class="auto-style10"></span>
                        </td>
                        <td style="border-bottom: 1px solid #999999; border-left-style: solid; border-left-width: 1px; border-left-color: #999999; padding-right: 10px" class="auto-style2" colspan="2">
                            مشخصات ترانس
                        </td>
                    </tr>
                    <tr style="border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: #999999; border-bottom-color: #999999; border-left-color: #999999" class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            @if (Model.Split.NetworkCost)
                            {
                                <span id="networkCost">@Model.NetworkCost.ToString("#,##0")</span>
                            }
                            <br />
                            <span>@Model.WarmCost.ToString("#,##0")</span>
                            @{
                                var subscription = (long)((Model.AllDays / 30) * 90000);
                            }
                            <br />
                            <span>@subscription.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style20" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            @if (Model.Split.NetworkCost)
                            {
                                <span>هزینه نگهداری شبکه</span>
                            }
                            <br />بهای فصل
                            <br />آبونمان
                        </td>
                        <td style="padding: 1px; margin: 0px; text-align: center;" colspan="2">
                            <span id="discount">@Model.Discount.ToString("#,##0")</span>
                        </td>

                        <td style="padding: 1px; margin: 0px" class="auto-style2" colspan="2">
                            <span id="allUsed" class="auto-style10">@(Model.MidUsed + Model.MaxUsed + Model.MinUsed)</span>
                        </td>

                        <td class="auto-style2" colspan="2" style="padding-right: 10px">
                            : مصرف کل - کیلووات ساعت
                        </td>

                        <td style="border-left-style: solid; border-left-width: 1px; border-left-color: #999999;" class="auto-style3" colspan="2">
                            <span id="yytt" class="auto-style10">@Model.Year.ToString()  /  @Model.Term.ToString()</span>
                        </td>
                        <td style="border-left-style: solid; border-left-width: 1px; border-left-color: #999999; padding-right: 10px" class="auto-style2" colspan="2">
                            دوره / سال
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-top-style: solid; border-top-width: 1px; border-top-color: #999999;">
                            <span id="total" class="auto-style13" style="font-weight: bold">@Model.Total.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style23" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; font-weight: bold">: بهای برق دوره</td>
                        <td style="padding: 5px 15px 5px 15px; margin: 0px; vertical-align: top; text-align: right; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #999999;" colspan="10" rowspan="4">
                            <span class="auto-style21">
                                : مشترک گرامی
                                <br>
                            </span>
                            <span id="description" class="auto-style21" style="color: #CC0000;">@Model.Description</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="tax">@Model.Tax.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style20" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">مالیات برارزش افزوده</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style12" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="toll">@Model.Toll.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style20" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">: عوارض</td>
                    </tr>
                    <tr class="auto-style21">
                        <td class="auto-style18" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="debit">@Model.Debit.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style19" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">: بدهی قبلی</td>
                    </tr>

                    <tr class="auto-style21">
                        <td class="auto-style18" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="debit">@Model.LatePenalty.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style19" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">: جریمه دیرکرد</td>
                    </tr>

                    <tr>
                        <td class="auto-style26" style="border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">
                            <span id="rounded" class="auto-style21">@Model.Round.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style17" style="padding: 1px; margin: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: #999999;">: کسر هزار ریال</td>
                        <td></td>
                        <td class="auto-style21"></td>

                        <td></td>
                        <td></td>
                        <td class="auto-style3">
                            <span id="ID" class="auto-style21">@Model.SplitID.ToString()</span>
                        </td>
                        <td class="auto-style17" colspan="2">
                            شناسه انشعاب
                        </td>

                        <td colspan="2" class="auto-style3">
                            <span id="paymentID" class="auto-style21">@Model.PaymentID</span>
                            <div id="paymentIdWD" class="auto-style21" style="display:none">@Model.PaymentIdWD</div>
                        </td>
                        <td class="auto-style17">شناسه واریز</td>
                    </tr>
                    <tr>
                        <td class="auto-style11" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;">
                            <span id="payable" class="auto-style13" style="font-weight: bold">@Model.Payable.ToString("#,##0")</span>
                        </td>
                        <td class="auto-style29" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;">: قابل پرداخت</td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>
                        <td style="font-size: 11pt; text-align: center" colspan="2"></td>

                        <td style="text-align: center"></td>
                        <td class="auto-style2" colspan="2" style="text-align: right; font-family: Tahoma; font-size: 12px">
                            &nbsp;
                        </td>
                        <td class="auto-style24" style="text-align: center; font-family: Tahoma; font-size: 12px">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style12" style="border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;">
                            <span id="expdate" class="auto-style13" style="font-weight: bold">@Model.ExpDate.PersianDateN("/")</span>
                        </td>
                        <td class="auto-style22" style="text-align: center; border-top-style: solid; border-right-style: solid; border-top-width: 1px; border-right-width: 1px; border-top-color: #999999; border-right-color: #999999;">: مهلت پرداخت</td>
                        <td style="color: blue; font-family: Tahoma; text-align: center; font-size: 12px" colspan="4">http://Clean-energy.ir</td>

                        <td class="auto-style3"></td>
                        <td class="auto-style28" colspan="2">4299775653</td>

                        <td class="auto-style17" colspan="3">شماره حساب - بانک ملت</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 890px; margin-right: auto; margin-left: auto; font-size: 10px; text-align: right; color: #FFFFFF; height: 19px;">
            <span id="lblOver" style="color: Red; font-size: 16px; font-weight: 700; color: #CC0000">.مشترک گرامی، در  صورت عدم پرداخت صورتحساب تا مهلت مقرر، نسبت به قطع برق انشعاب، اقدام خواهد گردید</span>
        </div>
        <div id="allCost_" style="display: none">@Model.AllCost</div>
        <div id="payable_" style="display: none">@Model.Payable</div>
        <div id="debit_" style="display: none">@Model.Debit</div>
    </div>
    @if (Model.Type == "corrective")
    {
        <div class="correctiveText">اصلاحي</div>
    }
    <div class="noprint" style="text-align: center; font-size: 15px; padding-top: 15px">
        <a style="padding-right: 30px" href="http://epay.bankmellat.ir/epayment/Payment/DoPayment.aspx?ItemId=57">
            <input style="font-weight: bold; font-size: 14px" class="btn" id="Button1" type="button" value="پرداخت" />
        </a>
        <a style="padding-right: 30px" href="#" onclick="javascript: window.print();">
            <input style="font-weight: bold; font-size: 14px" class="btn" id="Button2" type="button" value="چاپ" />
        </a>
        <input style="font-weight: bold; font-size: 14px" class="btn" id="debitless" type="button" value="نمایش بدون بدهی " />
    </div>
</body>
</html>

<script>
    jQuery(document).ready(function () {
        var val1 = parseInt($("#allCost_").html(), 10);
        var val2 = parseInt($("#debit_").html(), 10);
        if (val1 < val2) {
            $("#lblOver").show();
        } else {
            $("#lblOver").hide();
        }

        var payable = parseInt($("#payable").html(), 10);
        if (payable < 0) {
            $("#paymentID").html('----');
            $("#payable").html(0);
            $("#rounded").html(0);
        }
    });

    $(function () {
        $('#debitless').click(function () {
            var val1 = parseInt($("#payable_").html(), 10);
            var val2 = parseInt($("#debit_").html(), 10);

            var val3 = val1 - val2;
            $("#payable").html(val3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $("#debit").html("0");

            var val4 = parseInt($("#paymentIdWD").html(), 10);
            $("#paymentID").html(val4)
        })
    })
</script>



