﻿@model SplitListModel
@using System.Globalization;
@{
    var defaultGridPageSize = 10;
    var gridPageSizes = 10;

    //page title
    ViewBag.Title = "مشاهده صورتحساب";
}

@helper TabBillsInfo()
{
    @Html.Partial("_Bills.Info", Model)
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/images/ico-customers.png")" alt="" />
        <span class="page-title">مشاهده صورتحساب</span>
    </div>
    <div class="options">
        <input type="button" id="calculate-btn" name="calculate" class="k-button" value="محاسبه صورتحساب های آخرین دوره" />
        <input type="button" id="pdf-bill-all" class="k-button" value="ذخیره صورتحساب های آخرین دوره با فرمت pdf" />
    </div>
</div>
<div id="cal-dialog" title="محاسبه صورتحسابهای دوره جدید" style="padding-left:35px;padding-top:15px;">
    <p>در صورت تایید، تمامی صورتحساب های آخرین دوره محاسبه میشوند</p>
</div>
<script>
    $("#calculate-btn").click(function () {
        $("#cal-dialog").dialog("open");
    });

    $('#cal-dialog').dialog({
        autoOpen: false,
        modal: true,
        show: {
            effect: "Highlight",
            duration: 4000
        },
        hide: {
            effect: "Highlight",
            duration: 4000
        },
        buttons: {
            'تایید': function () {
                var loading = $("<i class='loading'></div>");
                var p = $('#cal-dialog p');
                p.html("");
                p.append(loading);
                working = true;
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("/CalculateAllBills")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        working = false;
                        loading.remove();
                        var p = $('#cal-dialog p');
                        p.html(result.msg);
                        $('span:contains("تایید")').parent().css('display', 'none');
                        $('span:contains("انصراف")').html('بستن');
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                        //working = false;
                        //loading.remove();
                        //$('#create_result').html(respText);
                        $(self).dialog("close");
                    }
                });
            },
            'انصراف': function () {
                $(this).dialog('close');
            }
        }
    });

    $('#pdf-bill-all').click(function (e) {
        e.preventDefault();
        $('#export-pdf-selected-form').submit();
        return false;
    });

</script>

@using (Html.BeginForm("PdfBillAll", "Bill", FormMethod.Post, new { id = "export-pdf-selected-form" }))
{
    
}

<div class="news-list-homepage">
    <div style="padding:2px;" class="col-md-9 col-sm-9 col-xs-12">
        <table class="adminContent" style="width:100%;">
            <tr>
                <td>
                    <div id="splits-grid" style="width:100%;"></div>
                    <script>
                        $(function () {
                            $("#bill-tab").css('background', '#2f363a')
                        })

                        $(document).ready(function () {
                            $("#splits-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SplitList", "Split"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            title: "Title",}
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [ {
                                    field: "Id",
                                    title: "انشعاب",
                                    width: 50
                                }, {
                                    field: "Title",
                                    title: "عنوان"
                                }, {
                                    field: "CustomerName",
                                    title: "مشترک",
                                    width: 100,
                                },
                                    {
                                        field: "Tariff",
                                        title: "تعرفه",
                                        width: 100
                                    },{
                                        field: "SerialNo",
                                        title: "شماره سریال",
                                        width: 100
                                    },
                                {
                                    field: "Active",
                                    title: "فعال",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'
                                },  {
                                    field: "Id",
                                    title: "صورتحساب",
                                    width: 50,
                                    template: '<a onClick="LoadBills(#=Id#)">مشاهده</a>'
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {

                            //search button
                            $('#search-splits').click(function () {
                                var grid = $('#splits-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.splitId)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.customerName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.splitName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.fileNo)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.serialNo)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                        });

                        function onDataBound(e) {
                        }

                        function additionalData() {
                            return {
                                splitId: $('#@Html.FieldIdFor(model => model.splitId)').val(),
                                customerName: $('#@Html.FieldIdFor(model => model.customerName)').val(),
                                splitName: $('#@Html.FieldIdFor(model => model.splitName)').val(),
                                fileNo: $('#@Html.FieldIdFor(model => model.fileNo)').val(),
                                serialNo: $('#@Html.FieldIdFor(model => model.serialNo)').val(),
                            };
                        }
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <div class="news-items">
        <div style="padding:2px;" class="col-md-3 col-sm-3 col-xs-12">
            <div class="k-header search-title">
                <span>مشخصات انشعاب</span>
            </div>
            <div class="item">
                <table>
                    <tr style="margin-bottom:10px;">
                        <td>
                            <div class="inputs">
                                <label for="splitId">شماره انشعاب :</label>
                                @Html.EditorFor(model => model.splitId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inputs">
                                <label for="customerName">نام مشترک :</label>
                                @Html.EditorFor(model => model.customerName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inputs">
                                <label for="splitName">نام انشعاب :</label>
                                @Html.EditorFor(model => model.splitName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inputs">
                                <label for="fileNo">شماره پرونده :</label>
                                @Html.EditorFor(model => model.fileNo)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inputs">
                                <label for="serialNo">شماره سریال کنتور</label>
                                @Html.EditorFor(model => model.serialNo)
                            </div>
                        </td>
                    </tr>
                </table>
                <input type="button" id="search-splits" class="k-button" value="@T("جستجو")" />
            </div>
        </div>
    </div>
</div>
<div>
    <h1 id="bills-title" style="font-size:22px"></h1>
</div>
<hr />

<div>
    @TabBillsInfo()
</div>




