﻿@model BillModel.BillPictureModel
@using System.Globalization;

@{
    ViewBag.Title = "اپلود فایل صورتحساب";
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}


@using (Html.BeginForm("SavePicture", "Bill"))
{
    @Html.HiddenFor(model => model.BillId)
    <div class="container" style="padding-top:20px;">
        <div class="page split-page">
            <div class="page-body">
                <div class="fieldset">
                    <div class="title" style="width:100%">
                        <strong>اپلود فایل صورتحساب</strong>
                        <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" style="float:left;width:100px" />
                    </div>

                    <hr />
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(Model => Model.Description, new { style = "vertical-align:top" })
                            @Html.TextAreaFor(Model => Model.Description)
                        </div>
                    </div>
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.EditorFor(Model => Model.PicId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}