﻿@{
    var defaultGridPageSize = 10;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    Html.AppendScriptParts("~/Scripts/jquery.fancybox-thumbs.js");
    Html.AppendScriptParts("~/Scripts/jquery.fancybox-media.js");
    Html.AppendScriptParts("~/Scripts/jquery.fancybox-buttons.js");
    Html.AppendScriptParts("~/Scripts/jquery.fancybox.pack.js");
    Html.AppendScriptParts("~/Scripts/jquery.mousewheel-3.0.6.pack.js");

    Html.AppendCssFileParts("~/Content/jquery.fancybox.css");
    Html.AppendCssFileParts("~/Content/jquery.fancybox-buttons.css");
    Html.AppendCssFileParts("~/Content/jquery.fancybox-thumbs.css");

}

<div id="bills-grid" style="font-weight:bold">
    <span style="font-size:22px;">برای مشاهده صورتحساب ها، ابتدا انشعاب مورد نظر را انتخاب کنید</span>
</div>
<script type="text/javascript">
    $(function () {
        $("#view-bills-tab").css('background', '#2f363a')
    })


    $(document).ready(function() {
        $(".fancybox").fancybox();
    });

    function LoadBills(id,title) {
        $('#bills-grid').html("");
        $('#bills-title').html("لیست صورتحساب های انشعاب  " + id )
        $("#bills-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Content("/BillsCustomer/BillList/")" + id,
                        type: "POST",
                        dataType: "json"
                    },
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            "Id": { type: "number", editable: false }, //تعيين نوع فيلد براي جستجوي پويا مهم است
                            "Year": { type: "number", validation: { required: true } },
                            "Term": { type: "number", validation: { required: true } },
                            "DateRead": { type: "date", validation: { required: true } },
                            "MidRead": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "MaxRead": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "MinRead": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "ReactRead": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "PowerRead": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "Debit": { type: "number", validation: { required: true }, format: "{0:n0}", },
                            "type": { type: "number", editable: false }
                        }
                    }
                },
                requestEnd: function(e) {
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                sort: { field: "Id", dir: "desc" },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            scrollable: false,
            columns: [{ field: "Id", title: "شماره", width: "10px" },
                        { field: "Year", title: "سال", width: 50 },
                        { field: "Term", title: "دوره", width: 50 },
                        { field: "Type", title: "نوع", width: 80, attributes: { style: "color:darkred" }, },
                        { field: "DateRead", title: "تاریخ",  template: "#=moment(DateRead).format('jYYYY/jMM/jDD')#" },
                        { field: "MidRead", title: "میان باری", format: "{0:0.###}" },
                        { field: "MaxRead", title: "اوج بار", format: "{0:0.###}" },
                        { field: "MinRead", title: "کم باری", format: "{0:0.###}" },
                        { field: "ReactRead", title: "راکتیو", format: "{0:0.###}" },
                        { field: "PowerRead", title: "قدرت", format: "{0:0.###}" },
                        { field: "Debit", title: "بدهی", format: "{0:n0}" },
                        @*{ field: "PictureUrl", title: "&nbsp;", width: 50, template: '<a class="fancybox" rel="group" href="#=PictureUrl#"><img src="@Url.Content("~/Content/images/")link.png" /></a>' }]*@
                        { field: "Id", title: "پرداخت آنلاین", width: 100, template: '<a href="http://epay.bankmellat.ir/epayment/Payment/DoPayment.aspx?ItemId=57">پرداخت</a>'},
                        { field: "Id", title: "دانلود", width: 80, template: '<a href="/CustomerBill/Download/#=Id#/true">با بدهی</a>'},
                        { field: "Id", title: "دانلود", width: 80, template: '<a href="/CustomerBill/Download/#=Id#/false">بدون بدهی</a>'},
                        //{ field: "PictureUrl", title: "&nbsp;", width: 150, template: '<a class="fancybox" rel="group" href="#=PictureUrl#">مشاهده صورتحساب</a>' },
                        //{ field: "Id", title: "&nbsp;", width: 50, template: "<a id='withDebit' val='#=Id#' code='#=Id#'>با بدهی</a>" },
            ]
        });

        $('#bills-title').scrollView();
    };

    function AdditionalInfo()
    {
        return ("#splitIdValue").val();
    }

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    $(document).on('click', "a#withDebit", function (e) {
        
    });
</script>
