﻿@model SplitListModel
@using System.Globalization;
@{
    var defaultGridPageSize = 10;
    var gridPageSizes = 10;

    //page title
    ViewBag.Title = "مشاهده صورتحساب";

}

@helper TabBillsInfo()
{
    @Html.Partial("_BillsCustomerInfo", Model)
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/images/ico-customers.png")" alt="" />
        <span class="page-title">مشاهده صورتحساب</span>
    </div>
</div>
<div class="news-list-homepage">
    <div style="padding:2px;" class="col-md-9 col-sm-9 col-xs-12">
        <table class="adminContent" style="width:100%;">
            <tr>
                <td>
                    <div id="splits-grid" style="width:100%;"></div>
                    <script>
                        $(document).ready(function () {
                            $("#splits-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SplitList", "BillsCustomer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            title: "Title",}
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [ {
                                    field: "Id",
                                    title: "انشعاب",
                                    width: 50
                                }, {
                                    field: "Title",
                                    title: "عنوان"
                                },
                                //{
                                //    field: "CustomerName",
                                //    title: "مشترک",
                                //    width: 100,
                                //},
                                    {
                                        field: "Tariff",
                                        title: "تعرفه",
                                        width: 100
                                    },{
                                        field: "SerialNo",
                                        title: "شماره سریال",
                                        width: 100
                                    },
                                {
                                    field: "Active",
                                    title: "فعال",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'
                                },  {
                                    field: "Id",
                                    title: "صورتحساب",
                                    width: 50,
                                    template: '<a onClick="LoadBills(#=Id#)">مشاهده</a>'
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">


                        function onDataBound(e) {
                        }

                        function additionalData() {
                            return {
                                customerId: $('#@Html.FieldIdFor(model => model.customerId)').val(),
                            };
                        }
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <div class="news-items">
        <div style="padding:2px;" class="col-md-3 col-sm-3 col-xs-12">
            <div class="k-header search-title">
                <span>مشخصات مشترک</span>
            </div>
            <div class="item">
                <table>
                    <tr style="margin-bottom:10px;">
                        <td>
                            <div class="inputs">
                                <label style="width:100%">نام مشترک : @Model.customerName</label>
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-bottom:10px;">
                        <td>
                            <div class="inputs">
                                <label style="width:100%">ایمیل : @Model.email</label>
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-bottom:10px;">
                        <td>
                            <div class="inputs">
                                <label style="width:100%">نام شرکت : @Model.CompanyName</label>
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-bottom:10px;">
                        <td>
                            <div class="inputs">
                                <label style="width:100%">شماره تماس : @Model.phoneNumber</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <h1 id="bills-title" style="font-size:22px"></h1>
</div>
<hr />

<div>
    @TabBillsInfo()
</div>






