﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="container" style="padding-top:20px;min-height:420px">
<div class="center-1 col-md-12 col-sm-12 col-xs-12 ">
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>