﻿@using Energy.Core.Domain.Common;
@using Energy.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Energy.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    var kendoVersion = "2014.1.318";

    //CSS resources
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");


    //kendo
    Html.AppendScriptParts("~/Scripts/kendo/messages/kendo.fa-IR.js");
    Html.AppendScriptParts("~/Scripts/kendo/messages/kendo.messages.en-US.js");
    Html.AppendScriptParts("~/Scripts/kendo/cultures/moment-jalaali.js");
    Html.AppendScriptParts("~/Scripts/kendo/cultures/moment.min.js");
    Html.AppendScriptParts("~/Scripts/kendo/cultures/kendo.culture.fa-IR.js");
    Html.AppendScriptParts("~/Scripts/kendo/cultures/kendo.culture.fa.js");
    Html.AppendScriptParts("~/Scripts/kendo/kendo.web.js");
    //Html.AppendScriptParts("~/Scripts/kendo/kendo.all.min.js");
    Html.AppendScriptParts("~/Scripts/jszip.min.js");

    //Html.AppendScriptParts(string.Format("~/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Scripts/kendo/JalaliDate.js");

    Html.AppendScriptParts("~/Scripts/admin.common.js");


    //Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    //Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
}



<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.ProTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.ProMetaDescription())" />
    <meta name="keywords" content="@(Html.ProMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="enamad" content="347152986" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/themes/PowerHub/content/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/themes/PowerHub/content/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/themes/PowerHub/content/css/owl.theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/themes/PowerHub/content/css/owl.carousel.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/themes/PowerHub/content/css/jquery.sidr.dark.css")" />
    @Html.ProHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.ProCssFiles(this.Url, ResourceLocation.Head)
    @Html.ProScripts(this.Url, ResourceLocation.Head)
    @Html.ProCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")

    <script src="@Url.Content("~/themes/PowerHub/content/js/respond.js")"> </script>

    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2014-->
</head>
<body>
    @RenderBody()
    @Html.ProCssFiles(this.Url, ResourceLocation.Foot)
    @Html.ProScripts(this.Url, ResourceLocation.Foot)
    <script src="@Url.Content("~/themes/powerhub/content/js/bootstrap.js")"> </script>
    <script src="@Url.Content("~/themes/powerhub/content/js/jquery.sidr.min.js")"> </script>
    <script src="@Url.Content("~/themes/powerhub/content/js/owl.carousel.js")"> </script>

    <!-- COLOR PICKER SCRIPT -->
    <script src="@Url.Content("~/themes/powerhub/content/js/styleSheetToogle.js")"> </script>

</body>
</html>
