﻿@model Energy.Web.Framework.Mvc.DeleteConfirmationModel
@using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }))
{
    <div>
        <p>
            در صورت تایید ایتم مورد نظر حذف میشود
        </p>
        <div class="form-actions">
            <span id="" class="k-button" onclick="$('#@Model.WindowId').data('kendoWindow').close();">انصراف</span>
            <input type="submit" class="k-button" value="حذف" />
        </div>
    </div>
}