﻿@using Energy.Core
@using Energy.Core.Infrastructure
@using Energy.Services.Localization
@using Energy.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
	<div class="header-top">
		<div class="container">
			<a id="simple-menu" style="float:left;padding-top:10px;" class="btn hidden-md hidden-lg" href="#sidr"><i class="fa fa-lg fa-bars"></i></a>
	 
			<div id="sidr">
			  <!-- Your content -->
			  @Html.Action("HeaderLinks", "Common")
			</div>
			
			<script>
			    $(document).ready(function () {
			        $('#simple-menu').sidr();
			    });
			</script>
			
			<div class="desktop_headerlinks">
				@Html.Action("HeaderLinks", "Common")
				@*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
			</div>
		</div>
	</div>
	
    <div class="header-bottom">
		<div class="container">
			@Html.Widget("header")
			<div class="header-logo">
				<a href="@Url.RouteUrl("HomePage")">
					<img title="@storeName" alt="انرژی پاک" src="@Url.Content(logoPath)">
				</a>
			</div>
    
			<div class="search-box">
				@*@Html.Action("SearchBox", "Catalog")*@
			</div>
		</div>
	</div>
</div>
