﻿@model SplitModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Customer_Id)
@Html.HiddenFor(model => model.TarrifAreaId)

@{
    int modelId = Model.Id;
}
<div id="send-request">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            اطلاعات انشعاب
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            انتخاب تعرفه
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            انتخاب مشترک
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabTariff()
    </div>
    <div>
        @TabCustomer()
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#send-request").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
        if ($("#Demand").val() === "0") {
            $("#Amp").prop("disabled", true);
            $("#Power").prop("disabled", true);
        } else if ($("#Demand").val() === "1") {
            $("#Amp").prop("disabled", false);
            $("#Power").prop("disabled", true);
        } else if ($("#Demand").val() === "2") {
            $("#Power").prop("disabled", false);
            $("#Amp").prop("disabled", true);
        }

        if ($("#ActivityPermission").is(':checked')) {
            $('#TempFromDate').data('kendoDatePicker').enable(true);
            $('#TempToDate').data('kendoDatePicker').enable(true);
        }
        else {
            $('#TempFromDate').data('kendoDatePicker').enable(false);
            $('#TempToDate').data('kendoDatePicker').enable(false);
        }
    });

    $(function () {
        $("#split-tab").css('background', '#2f363a')
    })

    $("#ActivityPermission").click(function () {
        if ($(this).is(':checked')) {
            $('#TempFromDate').data('kendoDatePicker').enable(true);
            $('#TempToDate').data('kendoDatePicker').enable(true);
        }
        else {
            $('#TempFromDate').data('kendoDatePicker').enable(false);
            $('#TempToDate').data('kendoDatePicker').enable(false);
        }
    });

    $("#Demand").change(function () {
        if ($("#Demand").val() === "0") {
            $("#Amp").prop("disabled", true);
            $("#Power").prop("disabled", true);
        } else if ($("#Demand").val() === "1") {
            $("#Amp").prop("disabled", false);
            $("#Power").prop("disabled", true);
        } else if ($("#Demand").val() === "2") {
            $("#Power").prop("disabled", false);
            $("#Amp").prop("disabled", true);
        }
    });
</script>
@helper TabInfo()
{
int modelId = Model.Id;
    <script>
        $(function () {
            $("#@Html.FieldIdFor(model => model.Region_Id)").change(function () {
                var selectedItem = $(this).val();
                var ddlCities = $("#@Html.FieldIdFor(model => model.DistributionArea_Id)");
                var citiesProgress = $("#das-loading-progress");
                citiesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetDistributionsByRegionId"))",
                    data: { "RegionId": selectedItem, "addSelectRegionItem": "true" },
                    success: function (data) {
                        ddlCities.html('');
                        $.each(data, function (id, option) {
                            ddlCities.append($('<option></option>').val(option.id).html(option.name));
                        });
                        citiesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve cities.');
                        citiesProgress.hide();
                    }
                });
            });
        });



    </script>

    <div class="fieldset">
        <div class="title">
            <strong>اطلاعات کلی انشعاب</strong>
        </div>
        <hr />
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.Title, new { }, ":")
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Title, String.Empty, new { @class = "validation-message" })
            </div>
        </div>

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Legal, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Legal,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "حقیقی", Value = "1" },
                                    new SelectListItem { Text = "حقوقی",  Value = "2" },
                                })

                @Html.LabelFor(model => model.Apply, new { }, ":")
                @Html.DropDownListFor(
                                         model => model.Apply,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "تامین انشعاب", Value = "1" },
                                    new SelectListItem { Text = "تامین برق",  Value = "2" },
                                })
            </div>
        </div>

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Volt, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Volt,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "220V ثانویه", Value = "1" },
                                    new SelectListItem { Text = "400V ثانویه",  Value = "2" },
                                    new SelectListItem { Text = "11KV اولیه",  Value = "3" },
                                    new SelectListItem { Text = "11KV ثانویه",  Value = "4" },
                                    new SelectListItem { Text = "20KV اولیه",  Value = "5" },
                                    new SelectListItem { Text = "20KV ثانویه",  Value = "6" },
                                })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Volt, String.Empty, new { @class = "validation-message" })

                @Html.LabelFor(model => model.Phase, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Phase,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "تک فاز", Value = "1" },
                                    new SelectListItem { Text = "سه فاز",  Value = "3" },
                                })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Phase, String.Empty, new { @class = "validation-message" })

                @Html.LabelFor(model => model.Permanent, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Permanent,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "دائمی", Value = "1" },
                                    new SelectListItem { Text = "موقت",  Value = "2" },
                                }, new { @id = "Permanent" })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Demand, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Demand,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "عادی", Value = "1" },
                                    new SelectListItem { Text = "دیماندی",  Value = "2" },
                                })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Demand, String.Empty, new { @class = "validation-message" })

                @Html.LabelFor(model => model.Amp, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Amp,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "0", Value = "1" },
                                    new SelectListItem { Text = "15",  Value = "2" },
                                    new SelectListItem { Text = "25",  Value = "3" },
                                    new SelectListItem { Text = "32",  Value = "4" },
                                    new SelectListItem { Text = "50",  Value = "5" },
                                })


                @Html.LabelFor(model => model.Power, new { }, ":")
                @Html.EditorFor(model => model.Power, new { @placeholder = "قدرت درخواستی" })


            </div>
        </div>
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Active)
                @Html.CheckBoxFor(model => model.Active)

                @Html.LabelFor(model => model.NetworkCost)
                @Html.CheckBoxFor(model => model.NetworkCost)

                @Html.LabelFor(model => model.IsFreelance)
                @Html.CheckBoxFor(model => model.IsFreelance)

                @Html.LabelFor(model => model.IncludeLateFees)
                @Html.CheckBoxFor(model => model.IncludeLateFees)
            </div>
        </div>
        <hr />
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.ActivityPermission)
                @Html.CheckBoxFor(model => model.ActivityPermission)

                <br />
                @Html.LabelFor(model => model.TempFromDate)
                @Html.EditorFor(model => model.TempFromDate)
                @Html.ValidationMessageFor(model => model.TempFromDate)

                @Html.LabelFor(model => model.TempToDate)
                @Html.EditorFor(model => model.TempToDate)
                @Html.ValidationMessageFor(model => model.TempToDate)
            </div>
        </div>
    </div>

    <div class="fieldset address">
        <div class="title">
            <strong>آدرس انشعاب</strong>
        </div>
        <hr />

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Region_Id, new { }, ":")
                @Html.DropDownList("Region_Id", Model.Regions)
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Region_Id)

            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.DistributionArea_Id, new { }, ":")
                @Html.DropDownList("DistributionArea_Id", Model.DistributionAreas)
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.DistributionArea_Id)
                <span id="das-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.Postal, new { }, ":")
                @Html.EditorFor(model => model.Postal, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Postal, String.Empty, new { @class = "validation-message" })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.Address, new { }, ":")
                @Html.EditorFor(model => model.Address, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.AddressContact, new { }, ":")
                @Html.EditorFor(model => model.AddressContact, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="fieldset">
        <div class="title">
            <strong>مشخصات کنتور</strong>
        </div>
        <hr />
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.SerialNo, new { }, ":")
                @Html.EditorFor(model => model.SerialNo, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.SerialNo, String.Empty, new { @class = "validation-message" })

                @Html.LabelFor(model => model.AD, new { }, ":")
                @Html.DropDownListFor(model => model.AD,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "آنالوگ", Value = "1" },
                                    new SelectListItem { Text = "دیجیتال",  Value = "2" },
                                })


            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.Maker, new { }, ":")
                @Html.EditorFor(model => model.Maker, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.VFactor, new { }, ":")
                @Html.EditorFor(model => model.VFactor, new { @class = "form-control" })

                @Html.LabelFor(model => model.AFactor, new { }, ":")
                @Html.EditorFor(model => model.AFactor, new { @class = "form-control" })

                @Html.LabelFor(model => model.Factor, new { }, ":")
                @Html.EditorFor(model => model.Factor, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Factor, String.Empty, new { @class = "validation-message" })
            </div>
        </div>

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Digits, new { }, ":")
                @Html.EditorFor(model => model.Digits, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Digits, String.Empty, new { @class = "validation-message" })

                @Html.LabelFor(model => model.Timer, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Timer,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "تک زمانه", Value = "1" },
                                    new SelectListItem { Text = "دو زمانه",  Value = "2" },
                                    new SelectListItem { Text = "سه زمانه",  Value = "3" },
                                })

                @Html.LabelFor(model => model.PowerTag, new { }, ":")
                @Html.EditorFor(model => model.PowerTag, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.PowerTagDate)
                @Html.EditorFor(model => model.PowerTagDate)

                @Html.LabelFor(model => model.InstallDate)
                @Html.EditorFor(model => model.InstallDate)
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.InstallDate, String.Empty, new { @class = "validation-message" })
            </div>
        </div>
    </div>

    <div class="fieldset">
        <div class="title">
            <strong>کد حسابداری</strong>
        </div>
        <hr />
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.AccountNo)
                @Html.EditorFor(model => model.AccountNo)

                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
            </div>
        </div>
    </div>
}

@helper TabTariff()
{
    @Html.Partial("_CreateOrUpdate.Tariff", Model)
}

@*@helper TabTariff()
    {
        if (Model.Id > 0)
        {
            int modelId = Model.Id;
            <script>

                $(document).ready(function () {
                    // this function add tariff to list
                    $('#add-tariff').click(function () {
                        var tariffAreaId = $("#tariffAreaId :selected").val();
                        data1 = { "splitId": '@modelId', "tariffAreaId": tariffAreaId };
                        var url = '/Split/AddTariff';
                        $.post(url, data1, function (data) {
                            $("#tariff-list").html(data.tariffs);
                        });
                    })

                    // this function remove all tariff from split
                    $('#remove-tariff').click(function () {
                        data1 = { "splitId": '@modelId' };
                        var url = '/Split/RemoveTariff';
                        $.post(url, data1, function (data) {
                            $("#tariff-list").html(data.msg);
                        });
                    })
                });
            </script>
            <div class="fieldset">
                <div class="title" style="display: block">
                    <strong>نوع تعرفه</strong>
                    @if (Model.Id > 0)
                    {
                        <div class="options" style="float: left; text-align: left">
                            <input class="k-button" value="افزودن" id="add-tariff" style="width: 50px" />
                            <input class="k-button" value="حذف" id="remove-tariff" style="width: 50px" />
                        </div>
                    }
                    else
                    {
                        <span style="float: left; color: darkred">بعد از ذخیره کردن انشعاب، تعرفه مورد نظر را به آن اضافه کنید</span>
                    }
                </div>
                <hr />
                <div class="form-fields">
                    <div class="inputs clm-2">
                        @Html.LabelFor(model => model.CTariff)
                        @Html.DropDownListFor(
                                    model => model.CTariff,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "مصارف خانگی", Value = "1" },
                                        new SelectListItem { Text = "مصارف عمومی",  Value = "2" },
                                        new SelectListItem { Text = "مصارف کشاورزی",  Value = "3" },
                                        new SelectListItem { Text = "مصارف صنعتی",  Value = "4" },
                                        new SelectListItem { Text = "سایر مصارف",  Value = "5" },
                                    }, "انتخاب کنید", new { @id = "cTariff" })
                    </div>
                    <div class="inputs clm-2">
                        @Html.LabelFor(model => model.TarrifAreaId)
                        @Html.DropDownListFor(model => model.TarrifAreaId,
                                                  (IEnumerable<SelectListItem>)ViewBag.Tariff, new { @id = "tariffAreaId", @class = "select-tariff" })
                        @Html.ValidationMessageFor(model => model.TarrifAreaId, String.Empty)
                    </div>
                    <hr />
                    <div class="t-list">
                        <label for="tariff-list" style="width: 10%">تعرفه فعلی :</label>
                        <div id="tariff-list"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="fieldset">
                <div class="title">
                    <strong>لطفا ابتدا مشخصات انشعاب را وارد کرده و ذخیره کنید</strong>
                </div>
                <hr />
            </div>
        }
    }*@

@helper TabCustomer()
{
    @Html.Partial("_CreateOrUpdate.Customer", Model)
}









