﻿@model SplitListModel
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Energy.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = "لیست انشعاب ها";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-customers.png")" alt="" />
            <span class="page-title">لیست انشعاب ها</span>
        </div>
        <div class="options">
            <a href="@Url.Action("Create")" class="k-button">افزودن انشعاب جدید</a>
            <input type="button" id="search-splits" class="k-button" value="@T("جستجو")" />
        </div>
    </div>
    <div class="fieldset product-selectors">
        <table>
            <tr>
                <td style="vertical-align: top">
                    <div class="inputs">
                        <label for="splitId">شماره انشعاب :</label>
                        @Html.EditorFor(model => model.splitId)
                    </div>

                </td>
                <td style="vertical-align: bottom; padding-right: 25px">
                    <div class="inputs">
                        <label for="customerName">نام مشترک :</label>
                        @Html.EditorFor(model => model.customerName)
                    </div>

                    <div class="inputs">
                        <label for="splitName">نام انشعاب :</label>
                        @Html.EditorFor(model => model.splitName)
                    </div>
                </td>
                <td style="vertical-align: bottom; padding-right: 25px">
                    <div class="inputs">
                        <label for="fileNo">شماره پرونده :</label>
                        @Html.EditorFor(model => model.fileNo)
                    </div>
                    <div class="inputs">
                        <label for="serialNo">شماره سریال کنتور</label>
                        @Html.EditorFor(model => model.serialNo)
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="fieldset">
        <table class="adminContent" style="width:100%;">
            <tr>
                <td>
                    <div id="splits-grid" style="width:100%;"></div>

                    <script>
                        $(document).ready(function () {
                            $("#splits-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SplitList", "Split"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [{
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                }, {
                                    field: "Id",
                                    title: "انشعاب",
                                    width: 50
                                }, {
                                    field: "Title",
                                    title: "عنوان",
                                    width: 250
                                },
                                {
                                    field: "CustomerName",
                                    title: "مشترک",
                                    width: 100,
                                },
                                 {
                                     field: "Address",
                                     title: "آدرس انشعاب",
                                     width: 250
                                 },
                                 {
                                     field: "SerialNo",
                                     title: "شماره سریال",
                                     width: 100
                                 },
                                 {
                                     field: "Tariff",
                                     title: "تعرفه",
                                     width: 100
                                 },
                                {
                                    field: "Active",
                                    title: "فعال",
                                    width: 50,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'
                                }, {
                                    field: "Id",
                                    title: "ویرایش",
                                    width: 50,
                                    template: '<a href="Edit/#=Id#">ویرایش</a>'
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">

                        var selectedIds = [];

                        $(document).ready(function () {

                            //search button
                            $('#search-splits').click(function () {
                                var grid = $('#splits-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.splitId)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.customerName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.splitName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.fileNo)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.serialNo)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-splits").click();
                                    return false;
                                }
                            });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            //wire up checkboxes.
                            $('#splits-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                }
                                else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                }
                                updateMasterCheckbox();
                            });
                        });

                        function onDataBound(e) {

                            $('#splits-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#splits-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#splits-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }

                        function additionalData() {
                            var customerRoleIds = [];
                            $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                customerRoleIds.push($(this).val());
                            });

                            return {
                                splitId: $('#@Html.FieldIdFor(model => model.splitId)').val(),
                                customerName: $('#@Html.FieldIdFor(model => model.customerName)').val(),
                                splitName: $('#@Html.FieldIdFor(model => model.splitName)').val(),
                                fileNo: $('#@Html.FieldIdFor(model => model.fileNo)').val(),
                                serialNo: $('#@Html.FieldIdFor(model => model.serialNo)').val(),
                            };
                        }
                    </script>
                </td>
            </tr>
        </table>
    </div>
}

<script type="text/javascript">
    $(document).ready(function(){
        $("#split-tab").css('background', '#2f363a');
    });
</script>
