﻿@model RequestModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

@Html.ValidationSummary(true)

@{
    int modelId = Model.Id;
}

<script type="text/javascript">
    $(function () {
        $("#request-tab").css('background', '#2f363a')
    })

    $(function () {
        $("#@Html.FieldIdFor(model => model.Region_Id)").change(function () {
            var selectedItem = $(this).val();
            var ddlCities = $("#@Html.FieldIdFor(model => model.DistributionArea_Id)");
            var citiesProgress = $("#das-loading-progress");
            citiesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetDistributionsByRegionId"))",
                data: { "RegionId": selectedItem, "addSelectRegionItem": "true" },
                success: function (data) {
                    ddlCities.html('');
                    $.each(data, function (id, option) {
                        ddlCities.append($('<option></option>').val(option.id).html(option.name));
                    });
                    citiesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve cities.');
                    citiesProgress.hide();
                }
            });
        });
    });
</script>
<div id="send-request">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            مرحله 1
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            مرحله 2
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabAttachment()
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#send-request").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

@if (Model.Id > 0)
{
    <script>
        var tabStrip = $("#send-request").kendoTabStrip().data("kendoTabStrip");
        tabStrip.select(1);
        tabStrip.disable(tabStrip.tabGroup.children().eq(0));
    </script>
}

@helper TabInfo()
{
    <div class="fieldset">
        <div class="title">
            <strong>آدرس انشعاب</strong>
        </div>
        <hr />

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Region_Id, new { }, ":")
                @Html.DropDownList("Region_Id", Model.Regions)
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Region_Id)

            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.DistributionArea_Id, new { }, ":")
                @Html.DropDownList("DistributionArea_Id", Model.DistributionAreas)
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.DistributionArea_Id)
                <span id="das-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.SplitPostalCode, new { }, ":")
                @Html.EditorFor(model => model.SplitPostalCode, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.SplitPostalCode, String.Empty, new { @class = "validation-message" })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.Address, new { }, ":")
                @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.Address, String.Empty, new { @class = "validation-message" })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
                @Html.LabelFor(model => model.AddressContact, new { }, ":")
                @Html.EditorFor(model => model.AddressContact, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="fieldset">
        <div class="title">
            <strong>نوع انشعاب</strong>
        </div>
        <hr />

        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.tariff_Id, new { }, ":")
                @Html.DropDownList("Tariff_Id", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "انتخاب", Value = "0" },
                                    new SelectListItem { Text = "مصارف خانگی", Value = "1" },
                                    new SelectListItem { Text = "مصارف عمومی",  Value = "2" },
                                    new SelectListItem { Text = "مصارف کشاورزی",  Value = "3" },
                                    new SelectListItem { Text = "مصارف صنعتی",  Value = "4" },
                                    new SelectListItem { Text = "سایر مصارف",  Value = "5" },
                                })
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.tariff_Id)


            </div>
            <div class="inputs">
                @Html.LabelFor(model => model.Volt, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Volt,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "220V ثانویه", Value = "0" },
                                    new SelectListItem { Text = "400V ثانویه",  Value = "1" },
                                    new SelectListItem { Text = "11KV اولیه",  Value = "2" },
                                    new SelectListItem { Text = "11KV ثانویه",  Value = "3" },
                                    new SelectListItem { Text = "20KV اولیه",  Value = "4" },
                                    new SelectListItem { Text = "20KV ثانویه",  Value = "5" },
                                })

                @Html.LabelFor(model => model.Phase, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Phase,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "تک فاز", Value = "1" },
                                    new SelectListItem { Text = "سه فاز",  Value = "3" },
                                })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs">
                @Html.LabelFor(model => model.Amp, new { }, ":")
                @Html.DropDownListFor(
                                model => model.Amp,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "0", Value = "0" },
                                    new SelectListItem { Text = "15",  Value = "15" },
                                    new SelectListItem { Text = "25",  Value = "25" },
                                    new SelectListItem { Text = "32",  Value = "32" },
                                    new SelectListItem { Text = "50",  Value = "50" },
                                })
            </div>
        </div>
        <div class="form-fields">
            <div class="inputs clm-2">
            </div>
        </div>
    </div>
    <div class="options" style="text-align:center;margin-bottom:25px;">
        <input type="submit" name="save" class="k-button" value="ثبت اطلاعات" />
    </div>

}

@helper TabAttachment()
{
    @Html.Partial("_CreateOrUpdate.Attachment", Model)
}










