﻿@using Energy.Web.Models.Customer;
@model RequestModel
@{
    //page title
    ViewBag.Title = "درخواست جدید";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
<div class="page request-page">
    <div class="page-body">
        @using (Html.BeginForm())
        {

            <div class="section-header">
                <div class="title">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span class="page-title"> با استفاده از فرم زیر درخواست خود را برای ما ارسال نمایید </span>
                </div>
            </div>
            @Html.Partial("_CreateOrUpdate", Model)
            
            
        }
    </div>
</div>

