﻿@model PrivateMessageListModel 
@using Energy.Web.Extensions;
@using Energy.Web.Models.PrivateMessages;
<div class="private-messages-box">
    <script type="text/javascript">
        $(document).ready(function () {

            $('#select-all-inbox').click(function () {
                $('#pm-inbox-table .rowcheckbox').attr('checked', $(this).is(':checked')).change();
            });

            $('#pm-inbox-table .rowcheckbox').on('change', function (e) {
                var numChkBoxes = $('#pm-inbox-table .rowcheckbox').length;
                var numChkBoxesChecked = $('#pm-inbox-table .rowcheckbox:checked').length;
                $('#select-all-inbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
            });
        });
    </script>
    @if (Model.Messages.Count > 0)
    {
        using (Html.BeginRouteForm("PrivateMessagesInbox", FormMethod.Post))
        {
        <table class="data-table" id="pm-inbox-table">
            <colgroup>
                <col width="5%" />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th class="a-center select-boxes">
                        <input type="checkbox" id="select-all-inbox" />
                    </th>
                    <th class="a-center from">
                        @T("PrivateMessages.Inbox.FromColumn")
                    </th>
                    <th class="a-center subject">
                        @T("PrivateMessages.Inbox.SubjectColumn")
                    </th>
                    <th class="a-center date">
                        @T("PrivateMessages.Inbox.DateColumn")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Messages.Count; i++)
                {
                    var item = Model.Messages[i];
                    <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                        <td class="a-center select-boxes">
                            <input type="checkbox" name="pm@(item.Id)" class="rowcheckbox" />
                        </td>
                        <td class="a-left from">
                            @if (item.AllowViewingFromProfile)
                            {
                                @Html.RouteLink(item.CustomerFromName, "CustomerProfile", new { Id = item.FromCustomerId })
                            }
                            else
                            {
                                @item.CustomerFromName
                            }
                        </td>
                        <td class="a-left subject">
                            @Html.RouteLink(item.Subject, "ViewPM", new { privateMessageId = item.Id }, new { @class = (item.IsRead) ? "pm-read" : "pm-unread" })
                        </td>
                        <td class="a-left date">
                            @item.CreatedOn
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pager">
            @Html.Pager(Model.PagerModel)
        </div>
        <div class="buttons">
            <input class="button-1 delete-selected-pm-button" name="delete-inbox" type="submit" value="@T("PrivateMessages.Inbox.DeleteSelected")" />
            @*<input class="button-1 mark-unread-pm-button" name="mark-unread" type="submit" value="@T("PrivateMessages.Inbox.MarkAsUnread")" />*@
        </div>
        }
    }
</div>
