﻿@model PrivateMessageIndexModel
@using Energy.Web.Models.Customer;
@using Energy.Core;
@using Energy.Web.Models.PrivateMessages;
@{    
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.PrivateMessages").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
<div class="page private-messages-page">
    <div class="page-title">
        <h1>
            @T("PrivateMessages.PrivateMessages")</h1>
    </div>
    <div class="page-body">
        @{
            var selectSentTab = Model.SentItemsTabSelected ? ".tabs( 'option', 'active', 1 )" : "";
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tabs").tabs()@Html.Raw(selectSentTab);
            });
        </script>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@T("PrivateMessages.Inbox")</a></li>
                <li><a href="#tabs-2">@T("PrivateMessages.SentItems")</a></li>
            </ul>
            <div id="tabs-1" class="tab-content">
                @Html.Action("Inbox", new { page = Model.InboxPage, tab = "inbox" })
            </div>
            <div id="tabs-2" class="tab-content">
                @Html.Action("SentItems", new { page = Model.SentItemsPage, tab = "sent" })
            </div>
        </div>
    </div>
</div>
